@import "../../../styles.scss";

.btncolor {
  background: $tertiaryBgColor;
  color: $quaternaryTextColor;
  border: none;
}

.btncolor:hover {
  background: $primaryTextColor;
  color: $quaternaryTextColor;
}

.size-icon {
  font-size: 40px;
}

.progress_image {
  width: 100%;
}

.space-color {
  background: $quaternaryBgColor;
  padding-bottom: 30px;
}

.resultBar {
  height: 40px;
}

.progress {
  font-size: 0.75rem;
  background-color: #cbccce;
}

::ng-deep {
  .progress-bar {
    background-color: $tertiaryBgColor !important;
    span {
      color: #fff !important;
    }
  }
}

thead{
  th{
    font-weight: 900;
  }
}

tbody{
  td{
    font-weight: 700;
  }
}

.border{
  border: 1px solid  $tertiaryBgColor !important;
}


@media (max-width: 575px) {
  p {
    font-size: 0.9rem;
  }
  .resultBar {
    height: 30px;
  }
  .size-icon {
    font-size: 30px;
  }
}
