<div class="container-fluid position-sticky">
    <div class="row bg-dark">

        <div class="col-12 text-center mt-3 mb-3">

            <img src="../../../assets/images/McDonalds-Logo.png" alt="" width="40px">
            <img src="../../../assets/images/McDonalds-Logo.png" alt="" width="40px">
            <img src="../../../assets/images/McDonalds-Logo.png" alt="" width="40px">
            <img src="../../../assets/images/McDonalds-Logo.png" alt="" width="40px">

        </div>

        <div class="row">


            <div class="col-md-5 text-center">
                <img src="../../../assets/images/McDonalds-Logo.png" alt="" width="100px">
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nostrum! Nulla
                    consectetur ipsum
                    ipsa
                    et voluptate quaerat animi dignissimos dicta impedit in aspernatur quidem odit quo recusandae vel,
                    nemo
                    fugit?</p>
            </div>


            <div class="col-md-7 d-flex">

                <div class="col-4">
                    <h5> Mapa</h5>
                    <h5> Conceptos</h5>
                    <h5> Nosotros</h5>

                </div>
                <div class="col-4">
                    <h5>Blog</h5>
                    <h6>Blog general</h6>
                    <h6>Hablando de política</h6>
                    <h6>Esto también es política</h6>

                </div>
                <div class="col-4">
                    <h5>Legal</h5>
                    <p> Lorem ipsum dolor sit</p>
                    <p> Lorem ipsum dolor sit</p>
                    <p> Lorem ipsum dolor sit</p>

                </div>


            </div>

        </div>
    </div>
</div>
