<div class="container-fluid">
    <div class="row bg-dark pb-5">



        <div class="col-12 text-center mt-3 mb-3">

            <a href=""><i class="fa fa-instagram-square"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-facebook-square"></i></a>
            <a href=""><i class="fa fa-github-square"></i></a>

        </div>

        <div class="row">


            <div class="col-md-5 text-center">
                <img src="../../../assets/images/logoblanco.png" alt="" width="250px">
                <p class="mt-2">{{'FOOTER.PRINCIPALTEXT'| translate}}</p>
            </div>


            <div class="col-md-7 d-flex">

                <div class="col-md-4">
                    <h5> {{'HEADER.MAP'| translate}}</h5>
                    <h5> {{'HEADER.CONCEPTS'| translate}}</h5>
                    <h5> {{'FOOTER.OUR'| translate}}</h5>

                </div>
                <div class="col-md-4">
                    <h5>{{'HEADER.BLOG'| translate}}</h5>
                    <h6>{{'HEADER.GENERAL'| translate}}</h6>
                    <h6>{{'HEADER.HABLANDO'| translate}}</h6>
                    <h6>{{'HEADER.ESTOTAMBIEN'| translate}}</h6>

                </div>
                <div class="col-md-4">
                    <h5>{{'FOOTER.LEGAL'| translate}}</h5>
                    <p> {{'FOOTER.TEXTLEGAL1'| translate}}</p>
                    <p> {{'FOOTER.TEXTLEGAL2'| translate}}</p>
                    <p> {{'FOOTER.TEXTLEGAL3'| translate}}</p>

                </div>


            </div>

        </div>
    </div>
</div>