<div class="container">
    <div class="row bg-dark">

        <div class="col-12 mx-auto">
            <img src="" alt=""> L
            <img src="" alt=""> L
            <img src="" alt=""> L
            <img src="" alt=""> L

        </div>

        <div class="row">


            <div class="col-md-5">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nostrum! Nulla consectetur ipsum
                    ipsa
                    et voluptate quaerat animi dignissimos dicta impedit in aspernatur quidem odit quo recusandae vel,
                    nemo
                    fugit?</p>
            </div>


            <div class="col-md-7 d-flex">

                <div class="col-4">
                    <h4> Mapa</h4>
                    <h4> Conceptos</h4>
                    <h4> Nosotros</h4>

                </div>
                <div class="col-4">
                    <h4>Blog</h4>
                    <h6>Blog general</h6>
                    <h6>Hablando de política</h6>
                    <h6>Esto también es política</h6>

                </div>
                <div class="col-4">
                    <h4>Legal</h4>
                    <p> Lorem ipsum dolor sit</p>
                    <p> Lorem ipsum dolor sit</p>
                    <p> Lorem ipsum dolor sit</p>
                    <p> Lorem ipsum dolor sit</p>

                </div>


            </div>

        </div>
    </div>
</div>