<div class="backgroud-header">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-3">
                logo
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn">{{'HEADER.MAP' | translate}}</button>
                    </div>

                    <div class="col-md-2 text-center">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn" id="dropdownBasic1"
                                ngbDropdownToggle>{{'HEADER.BLOG' | translate}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>{{'HEADER.GENERAL' | translate}}</button>
                                <button ngbDropdownItem>{{'HEADER.HABLANDO' | translate}}</button>
                                <button ngbDropdownItem>{{'HEADER.ESTOTAMBIEN' | translate}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn" id="dropdownBasic1"
                                ngbDropdownToggle>{{'HEADER.TEST' | translate}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>{{'HEADER.POLITICAL-TEST' | translate}}</button>
                                <button ngbDropdownItem>{{'HEADER.WORLD-TEST' | translate}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <button class="btn">{{'HEADER.CONCEPTS' | translate}}</button>
                    </div>

                    <div class="col-md-2 text-center">
                        <button class="btn">{{'HEADER.USER' | translate}}</button>
                    </div>

                    <div class="col-md-1 text-center">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn" id="dropdownBasic1"
                                ngbDropdownToggle>{{ translateService.currentLang == 'es-ES' ? 'ES': 'EN' }}</button>

                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="changeLanguage('es-ES')">ES</button>
                                <button ngbDropdownItem (click)="changeLanguage('en-GB')">EN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>