<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container justify-content-between">
        <button class="btn navbar-brand desktop" routerLink="">
            <img class='logo' src="../../../assets/images/logo.png" alt="">
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- logo centrado para mobile -->
        <button class="btn navbar-brand mobile" routerLink="">logo</button>
        <!-- traductor para mobile -->
        <div class="mobile">
            <button class="btn d-inline text-light p-0" *ngIf="userLogged">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
            </button>
            <div class=" nav-item dropdown d-inline">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <img class="icon-flag"
                        [src]="translateService.currentLang == 'es-ES' ? '../../../assets/icons/espana.png': '../../../assets/icons/reino-unido.png'">
                </button>
                <div class="dropdown-menu" style="min-width: unset">
                    <button class="btn dropdown-item" (click)="changeLanguage('es-ES')">
                        <img class="icon-flag" src="../../../assets/icons/espana.png" alt="español">
                    </button>
                    <button class="btn dropdown-item" (click)="changeLanguage('en-GB')">
                        <img class="icon-flag" src="../../../assets/icons/reino-unido.png" alt="inglés">
                    </button>
                </div>
            </div>
        </div>

        <!-- navegador principal -->
        <div class="collapse navbar-collapse" id="main-nav">
            <div class="navbar-nav w-100">

                <div class="nav-item active">
                    <button class="nav-link btn mx-auto" routerLink="mapa">{{'HEADER.MAP' | translate}}</button>
                </div>

                <div class="nav-item active">
                    <button class="nav-link btn mx-auto"
                        routerLink="conceptos">{{'HEADER.CONCEPTS' | translate}}</button>
                </div>

                <div class="nav-item dropdown active">
                    <button class="nav-link dropdown-toggle btn mx-auto" id="blog" data-toggle="dropdown">
                        {{'HEADER.BLOG' | translate}}
                    </button>
                    <div class="dropdown-menu text-center text-md-left">
                        <button class="btn dropdown-item"
                            routerLink="blog/general">{{'HEADER.GENERAL' | translate}}</button>
                        <button class="btn dropdown-item"
                            routerLink="blog/hablando-de-politica">{{'HEADER.HABLANDO' | translate}}</button>
                        <a class="btn dropdown-item" href="https://estotambienespolitica.com/"
                            target="_blank">{{'HEADER.ESTOTAMBIEN' | translate}}</a>
                    </div>
                </div>

                <div class="nav-item dropdown active">
                    <button class=" btn nav-link dropdown-toggle mx-auto" routerLink="tests" id="test"
                        data-toggle="dropdown">
                        {{'HEADER.TEST' | translate}}
                    </button>
                    <div class="dropdown-menu text-center text-md-left">
                        <button class="btn dropdown-item"
                            routerLink="test/1">{{'HEADER.POLITICAL-TEST' | translate}}</button>
                        <button class="btn dropdown-item"
                            routerLink="test/2">{{'HEADER.WORLD-TEST' | translate}}</button>
                    </div>
                </div>

                <div class="nav-item active ml-md-auto" *ngIf="!userLogged">
                    <button class="btn nav-link" routerLink="login">{{'HEADER.LOGIN' | translate}}</button>
                </div>
                <div class="nav-item active" *ngIf="!userLogged">
                    <button class="btn nav-link" routerLink="signup">{{'HEADER.SIGNUP' | translate}}</button>
                </div>
                <div class="nav-item active ml-md-auto desktop" *ngIf="userLogged">
                    <button class="btn nav-link" routerLink="usuario">Nombre Usuario</button>
                </div>
                <!-- selector de idiomas desktop -->
                <div class="nav-item dropdown desktop">
                    <button class="btn nav-link dropdown-toggle" id="test" data-toggle="dropdown">
                        <img class="icon-flag"
                            [src]="translateService.currentLang == 'es-ES' ? '../../../assets/icons/espana.png': '../../../assets/icons/reino-unido.png'">
                    </button>
                    <div class="dropdown-menu">
                        <button class="btn dropdown-item" (click)="changeLanguage('es-ES')">
                            <img class="icon-flag" src="../../../assets/icons/espana.png" alt="español">
                            {{'HEADER.COUNTRIES.SPANISH' | translate}}</button>
                        <button class="btn dropdown-item" (click)="changeLanguage('en-GB')">
                            <img class="icon-flag" src="../../../assets/icons/reino-unido.png" alt="inglés">
                            {{'HEADER.COUNTRIES.ENGLISH' |translate}}
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</nav>