<div class="backgroud-header">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-3">
                logo
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn">{{'HEADER.MAP' | translate}}</button>
                    </div>

                    <div class="col-md-2 text-center">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn" id="blog" ngbDropdownToggle>{{'HEADER.BLOG' | translate}}</button>
                            <div ngbDropdownMenu aria-labelledby="blog">
                                <button ngbDropdownItem>{{'HEADER.GENERAL' | translate}}</button>
                                <button ngbDropdownItem>{{'HEADER.HABLANDO' | translate}}</button>
                                <button ngbDropdownItem>{{'HEADER.ESTOTAMBIEN' | translate}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn" id="test" ngbDropdownToggle>{{'HEADER.TEST' | translate}}</button>
                            <div ngbDropdownMenu aria-labelledby="test">
                                <button ngbDropdownItem>{{'HEADER.POLITICAL-TEST' | translate}}</button>
                                <button ngbDropdownItem>{{'HEADER.WORLD-TEST' | translate}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <button class="btn">{{'HEADER.CONCEPTS' | translate}}</button>
                    </div>

                    <div class="col-md-2 text-center">
                        <button class="btn">{{'HEADER.USER' | translate}}</button>
                    </div>

                    <div class="col-md-1 text-center">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn" id="language" ngbDropdownToggle>
                                <img class="icon-flag"
                                    [src]="translateService.currentLang == 'es-ES' ? '../../../assets/icons/espana.png': '../../../assets/icons/reino-unido.png'">
                            </button>
                            <div ngbDropdownMenu aria-labelledby="language">
                                <button ngbDropdownItem (click)="changeLanguage('es-ES')">
                                    <img class="icon-flag" src="../../../assets/icons/espana.png" alt="español">
                                    {{'HEADER.COUNTRIES.SPANISH' | translate}}
                                </button>
                                <button ngbDropdownItem (click)="changeLanguage('en-GB')">
                                    <img class="icon-flag" src="../../../assets/icons/reino-unido.png" alt="inglés">
                                    {{'HEADER.COUNTRIES.ENGLISH' |translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>