@import "../../../styles.scss";

button,
a {
    font-weight: 700 !important;
    color: $primaryTextColor !important;
}

.icon-flag {
    width: 20px;
}

.logo {
    width: 250px;
}

.logomobile {
    width: 180px;
}

.bg-dark {
    background-color: $primaryBgColor !important;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: $primaryTextColor;
}

hr {
    opacity: 0.3;
}

.dropdown-menu {
    top: 45px;
}

.user-btn {
    border: none !important;
}
