@import "../../../styles.scss";

.size-icon {
    font-size: 40px;
}

sup {
    color: black;
}

.line {
    width: 100%;
}

.box {
    border: 1px solid transparent;
}

.box:hover {
    /* background-color: rgb(218, 218, 218); */
    border: 1px solid $quaternaryBgColor;
}

p,
span {
    font-weight: bold;
    color: $tertiaryTextColor;
}

.image-flag {
    width: 40%;
    max-height: 150px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .line_title {
        display: none;
    }
}

@media (max-width: 575px) {
    .line {
        display: none;
    }

    .space-color {
        background: $quaternaryBgColor;
        padding-bottom: 30px;
    }
}
