<div class="container">

    <div class="row mt-6">
        <div class="col-md-12">
            <h3 class="text-center">Colombia</h3>
        </div>
    </div>

    <div class="row text-center mt-4">

        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Simbolo</h6>

        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Bandera</h6>
        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Mapa</h6>

        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>ONU</h6>

        </div>
    </div>

    <div class="row text-center mt-4">

        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Gobierno</h6>

        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Presidente</h6>
        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Moneda</h6>

        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Religión</h6>

        </div>
    </div>

    <div class="row mt-4 text-center">

        <div class="col-md-12">
            <h4> Gobierno y política</h4>
            <hr>
        </div>

        <div class="col-md-6">
            <h4> Ramas del poder público</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consectetur id vitae, corporis, saepe
                iusto fuga culpa quisquam, harum amet deleniti at laudantium ullam cum. Error, nostrum? Eos, modi
                repellat?</p>

        </div>
        <div class="col-md-6">
            <h4>Relaciones exteriores</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consectetur id vitae, corporis, saepe
                iusto fuga culpa quisquam, harum amet deleniti at laudantium ullam cum. Error, nostrum? Eos, modi
                repellat?</p>

        </div>
    </div>


    <div class="row text-center">

        <div class="col-md-12">
            <h4> Partidos Políticos</h4>
            <hr>
        </div>

        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Conservador</h6>

        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Socialista</h6>

        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Centro democratico</h6>

        </div>
        <div class="col-md-3 col-3">
            <img src="../../../assets/icons/espana.png" alt="" width="30px">
            <h6>Polo</h6>

        </div>
    </div>

</div>