<div class="container-fluid container-color">

  <!-- Primera pantalla para empezar el test  -->
  <!-- <div class="container pt-5" *ngIf="action === 'instructions'">

    <div class="row text-center">
      <div class="col-md-12">
        <h3>{{'TEST.RECOMMENDATIONS'|translate}} </h3>
        <hr class="mb-md-5 mb-3">
      </div>
    </div>

    <div class="row pb-md-5 mt-3 text-center text-md-left">

      <div class="col-md-3 mt-md-5 greeting">
        <p> {{'TEST.GREETING'|translate}} <strong> {{currentUser.name}} </strong>,
          <br>{{'TEST.GREETING-CONTINUED'|translate}}</p>
        <p>{{'TEST.START-RECOMMENDATIONS'|translate}}</p>
        <button class="btn btn-block mt-4 btncolor mb-5 desktop"
          (click)="startTest()">{{'TEST.START'|translate}}</button>
      </div>

      <div class="col-md-8 offset-md-1">
        <div class="row">
          <div class="col-6 px-md-5 mb-4">
            <div class="text-center">
              <fa-icon class="size-icon" [icon]="['fas', 'book-reader']"></fa-icon>
              <h6 class="card-text">{{'TEST.NO-WRONG-ANSWERS'|translate}}</h6>
              <p class="desktop"> {{'TEST.NO-WRONG-ANSWERS-TEXT'|translate}}</p>
            </div>
          </div>

          <div class="col-6 px-md-5">
            <div class="text-center">
              <fa-icon class="size-icon" [icon]="['far', 'clock']"></fa-icon>
              <h6 class="card-text">{{'TEST.NO-TIME'|translate}}</h6>
              <p class="desktop"> {{'TEST.NO-TIME-TEXT'|translate}}
              </p>
            </div>
          </div>
        </div>


        <div class="row mt-md-5 mt-4">
          <div class="col-6 px-md-5 mb-4">
            <div class="text-center">
              <fa-icon class="size-icon" [icon]="['fas', 'cogs']"></fa-icon>
              <h6 class="card-text">{{'TEST.ANSWER-WITH-AGILITY'|translate}}</h6>
              <p class="desktop"> {{'TEST.ANSWER-WITH-AGILITY-TEXT'|translate}}</p>
            </div>
          </div>

          <div class="col-6 px-md-5 ">
            <div class="text-center">
              <fa-icon class="size-icon" [icon]="['far', 'eye']"></fa-icon>
              <h6 class="card-text">{{'TEST.ANSWER-ALL'|translate}}</h6>
              <p class="desktop"> {{'TEST.ANSWER-ALL-TEXT'|translate}}</p>
            </div>
          </div>
        </div>

        <div class="row mt-md-5 mt-4">
          <div class="col-6 px-md-5 mb-4">
            <div class="text-center">
              <fa-icon class="size-icon" [icon]="['far', 'thumbs-up']"></fa-icon>
              <h6 class="card-text">{{'TEST.HYPOTHETICAL-SITUATIONS'|translate}}</h6>
              <p class="desktop"> {{'TEST.HYPOTHETICAL-SITUATIONS-TEXT'|translate}}</p>
            </div>
          </div>

          <div class="col-6 px-md-5">
            <div class="text-center">
              <fa-icon class="size-icon" [icon]="['far', 'grin-beam']"></fa-icon>
              <h6 class="card-text">{{'TEST.LEARN-FUN'|translate}}</h6>
              <p class="desktop">{{'TEST.LEARN-FUN-TEXT'|translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button class="btn btn-block mt-4 btncolor mb-5 mobile"
          (click)="startTest()">{{'TEST.START'|translate}}</button>
      </div>
    </div>
  </div> -->

  <!-- Test ya empezado -->
  <!-- <div class="container-fluid container-color pt-md-5 pt-4 pb-6" *ngIf="action === 'questions'">

    <div class="container">

      <div class="row text-center">
        <div class="col-md-12">
          <h3>Test Mundo</h3>
          <hr class="mb-5">
        </div>
      </div>

      <h6 class="text-center">{{actualQuestion.question}}</h6>
      <div class="row mt-3">
        <div class="col-md-5 text-center">
          <div class="svg" [innerHTML]="svg"></div>
        </div>

        <div class="col-md-4 offset-md-1">
          <button class="btn btncolor mt-2 mb-2 form-control" (click)="questionAnswered(actualQuestion.id, 1)">
            {{actualQuestion.answer1}} </button>
          <button class="btn btncolor mt-2 mb-2 form-control" (click)="questionAnswered(actualQuestion.id, 2)">
            {{actualQuestion.answer2}} </button>
          <button class="btn btncolor mt-2 mb-2 form-control" (click)="questionAnswered(actualQuestion.id, 3)">
            {{actualQuestion.answer3}} </button>
          <button class="btn btncolor mt-2 mb-2 form-control" (click)="questionAnswered(actualQuestion.id, 4)">
            {{actualQuestion.answer4}} </button>
        </div>
      </div>
    </div>
  </div> -->

</div>


<!-- Resultado del test -->
<div class="container-fluid container-color pt-md-5 pt-4 pb-5">

  <div class="container">

    <div class="row text-center">
      <div class="col-md-12">
        <h3>Resultados</h3>
        <hr class="mb-4">
      </div>
    </div>
  </div>

</div>

<div class="container mt-5 mb-5">

  <div class="row text-center">

    <div class="col-12">
      <img src="../../../assets/images/evolucion.png" alt="" class="images">
    </div>

    <div class="col-12 mt-5 mb-5">
      SOY LA LINEA DE RANGO
    </div>

  </div>

  <div class="row">

    <div class="col-4 ">

      <img src="" alt="">

    </div>

    <div class="offset-3 col-5">

      <h5 class="text-center">
        ¡¡¡ Felicitaciones por tu resultado !!!
      </h5>

      <p>
        No es un reto fácil, muchas de las banderas con las que contamos son
      </p>

    </div>



  </div>


</div>