@import "../../../styles.scss";

.btncolor {
    background: $tertiaryBgColor;
    color: $quaternaryTextColor;
    border: none;
}

.btncolor:hover {
    background: $primaryTextColor;
    color: $quaternaryTextColor;
}

.size-icon {
    font-size: 40px;
}
