<div class="container-fluid container-color">




    <!-- Primera pantalla para empezar el test  -->
    <div class="container pt-5">

        <div class="row text-center">
            <div class="col-md-12">
                <h3>{{'TEST.RECOMMENDATIONS'|translate}} </h3>
                <hr class="mb-5">
            </div>
        </div>

        <div class="row pb-5 mt-3 text-center text-md-left">

            <div class="col-md-4 mt-md-5">

                <p> {{'TEST.GREETING'|translate}} <strong> Petunio </strong> {{'TEST.GREETING-CONTINUED'|translate}}</p>

                <p>{{'TEST.START-RECOMMENDATIONS'|translate}}</p>

                <button class="btn btn-block mt-4 btncolor mb-5">{{'TEST.START'|translate}}</button>

            </div>

            <div class="col-md-7 offset-md-1">

                <div class="row">
                    <div class="col-6 px-md-5 mb-4">


                        <div class="text-center">
                            <fa-icon class="size-icon" [icon]="['fas', 'book-reader']"></fa-icon>
                            <h6 class="card-text">{{'TEST.NO-WRONG-ANSWERS'|translate}}</h6>
                            <p class="desktop"> {{'TEST.NO-WRONG-ANSWERS-TEXT'|translate}}</p>

                        </div>


                    </div>

                    <div class="col-6 px-md-5">

                        <div class="text-center">
                            <fa-icon class="size-icon" [icon]="['far', 'clock']"></fa-icon>
                            <h6 class="card-text">{{'TEST.NO-TIME'|translate}}</h6>
                            <p class="desktop"> {{'TEST.NO-TIME-TEXT'|translate}}
                            </p>

                        </div>



                    </div>
                </div>


                <div class="row mt-md-5 mt-4">
                    <div class="col-6 px-md-5 mb-4">

                        <div class="text-center">
                            <fa-icon class="size-icon" [icon]="['fas', 'cogs']"></fa-icon>
                            <h6 class="card-text">{{'TEST.ANSWER-WITH-AGILITY'|translate}}</h6>
                            <p class="desktop"> {{'TEST.ANSWER-WITH-AGILITY-TEXT'|translate}}</p>
                        </div>
                    </div>

                    <div class="col-6 px-md-5 ">

                        <div class="text-center">
                            <fa-icon class="size-icon" [icon]="['far', 'eye']"></fa-icon>
                            <h6 class="card-text">{{'TEST.ANSWER-ALL'|translate}}</h6>
                            <p class="desktop"> {{'TEST.ANSWER-ALL-TEXT'|translate}}</p>

                        </div>



                    </div>
                </div>

                <div class="row mt-md-5 mt-4">
                    <div class="col-6 px-md-5 mb-4">


                        <div class="text-center">
                            <fa-icon class="size-icon" [icon]="['far', 'thumbs-up']"></fa-icon>
                            <h6 class="card-text">{{'TEST.HYPOTHETICAL-SITUATIONS'|translate}}</h6>
                            <p class="desktop"> {{'TEST.HYPOTHETICAL-SITUATIONS-TEXT'|translate}}</p>

                        </div>


                    </div>

                    <div class="col-6 px-md-5">


                        <div class="text-center">
                            <fa-icon class="size-icon" [icon]="['far', 'grin-beam']"></fa-icon>
                            <h6 class="card-text">{{'TEST.LEARN-FUN'|translate}}</h6>
                            <p class="desktop">{{'TEST.LEARN-FUN-TEXT'|translate}}</p>
                        </div>


                    </div>
                </div>


            </div>

        </div>


    </div>





    <!-- Test ya empezado -->
    <!-- <div class="container-fluid container-color pt-md-5 pt-4 pb-6">

    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <h3>Test Mundo</h3>
                <hr class="mb-5">
            </div>
        </div>

        <div class="row text-right">
            <div class="col-md-12">
                0% <input type="range"> 100%

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5 text-center">
                <h5>¿ A qué país corresponde esta bandera?</h5>
                <img src="../../../assets/icons/espana.png" alt="" class="w-50">
            </div>

            <div class="col-md-7 mt-3 mb-5 mobile">
                <button class="btn btncolorform-control mt-2 mb-2"> México </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> España </button>
                <button class="btn btncolormt-2 mb-2 form-control"> Egipto </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> Noruega </button>
            </div>

            <div class="offset-1 col-md-4 mt-5 desktop">
                <button class="btn btncolor mt-2 mb-2 form-control "> México </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> España </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> Egipto </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> Noruega </button>
            </div>



        </div>

    </div>


</div> -->

</div>