<div class="container-fluid container-color pt-md-5 pt-4 pb-6">

    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <h3>Test Mundo</h3>
                <hr class="mb-5">
            </div>
        </div>

        <div class="row text-right">
            <div class="col-md-12">
                0% <input type="range"> 100%

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5 text-center">
                <h5>¿ A qué país corresponde esta bandera?</h5>
                <img src="../../../assets/icons/espana.png" alt="" class="w-50">
            </div>

            <div class="col-md-7 mt-3 mb-5 mobile">
                <button class="btn btncolorform-control mt-2 mb-2"> México </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> España </button>
                <button class="btn btncolormt-2 mb-2 form-control"> Egipto </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> Noruega </button>
            </div>

            <div class="offset-1 col-md-4 mt-5 desktop">
                <button class="btn btncolor mt-2 mb-2 form-control "> México </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> España </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> Egipto </button>
                <button class="btn btncolor mt-2 mb-2 form-control"> Noruega </button>
            </div>



        </div>

    </div>


</div>