@import "../../../styles.scss";

.greeting {
  p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 700;
    width: 200px;
  }
  p:nth-child(2) {
    font-size: 1.2rem;
  }
  strong {
    font-weight: 900;
  }
}

.btncolor {
  background: $tertiaryBgColor;
  color: $quaternaryTextColor;
  border: none;
}

.btncolor:hover {
  background: $primaryTextColor;
  color: $quaternaryTextColor;
}

.size-icon {
  font-size: 40px;
}

.images {
  width: 60%;
}

.space-color {
  background: $quaternaryBgColor;
  padding-bottom: 30px;
}

.svg {
  width: 60%;
}

@media (max-width: 575px) {
  .greeting {
    p:nth-child(1) {
      font-size: 1.1rem;
      font-weight: 700;
      width: 100%;
    }
    p:nth-child(2) {
      font-size: 1rem;
    }
    strong {
      font-weight: 900;
    }
  }

  .images {
    width: 100%;
  }
}
