@import "../../../styles.scss";

img {
    width: 90%;
}

.person {
    width: 72%;
}

.person-mobile {
    width: 100%;
}

.logo-us {
    width: 50%;
}

.box {
    border: 1px solid transparent;
    cursor: pointer;
}

.box:hover {
    border: 1px solid $secondaryBgColor;
}

.space-color {
    background: $quaternaryBgColor;
}

.line {
    width: 100% !important;
}
