<div class="container">

    <!-- titulo -->
    <div class="row mt-6">
        <div class="col-12 text-center">
            <h3>¿Quiénes somos?</h3>
        </div>
    </div>

    <!-- texto -->
    <div class="row">
        <div class="col-12 text-center">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In expedita minima, quis quam, mollitia vel
                laudantium neque recusandae saepe aliquid explicabo nemo iure excepturi ratione! Suscipit quos eveniet
                asperiores sed?</p>

            <br>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus accusantium earum nam tempora ab
                tenetur reprehenderit atque veniam ex nostrum incidunt, repudiandae unde a necessitatibus explicabo
                minus quod, animi ducimus.</p>

        </div>

    </div>

    <!-- bloques video/meta/equipo -->
    <div class="row mt-6">
        <div class="col-md-4 text-center">
            <img src="../../../assets/images/McDonalds-Logo.png" alt="" width="200px">
        </div>

        <div class="col-md-4 text-center ">
            <h3>Nuestra Meta</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque enim tempora sit odit quis pariatur
                vero corrupti ea et totam, dolore harum dolorem libero asperiores dolorum, obcaecati illo quo quam?
            </p>


        </div>

        <div class="col-md-4">
            <h3 class="text-center">Equipo</h3>


            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <h6 class="d-inline">Alice</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aliquam exercitationem corporis </p>



            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <h6 class="d-inline">Antonio</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aliquam exercitationem corporis </p>
        </div>

    </div>
</div>