<div class="container-fluid container-color">

    <div class="container">

        <!-- titulo -->
        <div class="row pt-5 pb-5">
            <div class="col-12 text-center">
                <h3>{{'FOOTER.OUR'|translate}}</h3>
                <hr>
            </div>
        </div>

    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-4 text-center mt-5">
            <p>{{'CREATOR.MAIN-MESSAGE-ONE' |translate}} </p>
        </div>
        <div class="col-md-4 text-center mt-2">
            <img src="../../../assets/images/logo2.png" alt="" class="logo-us animate__animated animate__tada">
        </div>
        <div class="col-md-4 text-center mt-5">
            <p>{{'CREATOR.MAIN-MESSAGE-TWO' |translate}}</p>
        </div>
    </div>


    <!-- bloques objetivo/misión/visión -->
    <div class="row mt-5 text-center">

        <div class="col-md-4 pt-3 box">
            <h5> {{'CREATOR.OBJETIVE'|translate}}</h5>
            <p>{{'CREATOR.OBJETIVE-TEXT'|translate}}
            </p>

        </div>
        <div class="col-md-4  pt-3 box">
            <h5>{{'CREATOR.MISSION'|translate}}</h5>
            <p> {{'CREATOR.MISSION-TEXT'|translate}}
            </p>
        </div>
        <div class="col-md-4 pt-3 box">
            <h5>{{'CREATOR.VISSION'|translate}} </h5>
            <p>{{'CREATOR.VISSION-TEXT'|translate}}
            </p>

        </div>



    </div>

</div>

<div class="container-fluid container-color">

    <div class="container">



        <!-- TEAM -->
        <div class="row mt-5 mb-5">
            <div class="col-md-12 text-center">
                <h4>{{'CREATOR.TEAM'|translate}}</h4>
                <hr>


            </div>

            <!-- ALICE -->
            <div class="col-md-6">

                <h5 class="text-center"> {{'CREATOR.TEAM-NAME-1'|translate}}</h5>

                <div class="row">

                    <div class="col-md-7 desktop mt-5">
                        <div class="d-flex">
                            <i class="fa fa-graduation-cap mr-1"></i>
                            <p>{{'CREATOR.STUDIES-A'|translate}}</p>
                        </div>
                        <div class="d-flex">
                            <i class="fa fa-graduation-cap mr-1"></i>
                            <p>{{'CREATOR.STUDIES-C'|translate}}</p>
                        </div>
                        <div class="d-flex">
                            <i class="fa fa-quote-left mr-1"></i>
                            <p>{{'CREATOR.TEAM-MESSAGE-A'|translate}}</p>
                        </div>
                        <div class="d-flex">
                            <a href="https://www.linkedin.com/in/alicelopezg/" target="_blank"><i
                                    class="fa fa-linkedin-square mr-1"></i>
                                Alice López
                            </a>

                        </div>
                    </div>

                    <div class="col-md-5 desktop">
                        <img src="../../../assets/images/hablando1.png" alt=""
                            class="animate__animated animate__tada hvr-wobble-to-top-right">
                    </div>



                </div>

                <div class="row mobile">

                    <div class="d-flex">

                        <div class="col-md-5">
                            <img src="../../../assets/images/Alice2.png" alt="" class="person-mobile">
                        </div>

                        <div class="col-md-7 mt-3">
                            <div class="d-flex">
                                <i class="fa fa-graduation-cap mr-1"></i>
                                <p>{{'CREATOR.STUDIES-A'|translate}}</p>
                            </div>

                            <div class="d-flex">
                                <i class="fa fa-graduation-cap mr-1"></i>
                                <p>{{'CREATOR.STUDIES-C'|translate}}</p>
                            </div>

                            <div class="d-flex">
                                <a href="https://www.linkedin.com/in/alicelopezg/" target="_blank"><i
                                        class="fa fa-linkedin-square mr-1"></i>Alice López</a>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12 d-flex">
                            <i class="fa fa-quote-left mr-1"></i>
                            <p>{{'CREATOR.TEAM-MESSAGE-A'|translate}}</p>
                        </div>
                    </div>

                    <hr>


                </div>
            </div>

            <!-- ANTONIO -->
            <div class="col-md-6">

                <h5 class="text-center">{{'CREATOR.TEAM-NAME-2'|translate}}</h5>

                <div class="row">

                    <div class="col-md-5 desktop">

                        <img src="../../../assets/images/antonio.png" alt=""
                            class="animate__animated animate__tada person hvr-wobble-to-top-right">
                    </div>

                    <div class=" col-md-7 desktop mt-5">

                        <div class="d-flex">
                            <i class="fa fa-graduation-cap mr-1"></i>
                            <p>{{'CREATOR.STUDIES-B'|translate}}</p>
                        </div>
                        <div class="d-flex">
                            <i class="fa fa-graduation-cap mr-1"></i>
                            <p>{{'CREATOR.STUDIES-C'|translate}}</p>
                        </div>
                        <div class="d-flex">
                            <i class="fa fa-quote-left mr-1"></i>
                            <p>{{'CREATOR.TEAM-MESSAGE-B'|translate}}</p>
                        </div>
                        <div class="d-flex">
                            <a href="https://www.linkedin.com/in/antonio-vallejo-desarrollador-web/" target="_blank"><i
                                    class="fa fa-linkedin-square mr-1"></i>Antonio Vallejo</a>

                        </div>

                    </div>

                </div>

                <div class="row mobile">
                    <div class="d-flex">
                        <div class="col-md-5">
                            <img src="../../../assets/images/antonio2.png" alt="" class="person-mobile">
                        </div>

                        <div class="col-md-7 mt-3">

                            <div class="d-flex">
                                <i class="fa fa-graduation-cap mr-1"></i>
                                <p>{{'CREATOR.STUDIES-B'|translate}}</p>
                            </div>
                            <div class="d-flex">
                                <i class="fa fa-graduation-cap mr-1"></i>
                                <p>{{'CREATOR.STUDIES-C'|translate}}</p>
                            </div>
                            <div class="d-flex">
                                <a href="https://www.linkedin.com/in/antonio-vallejo-desarrollador-web/"
                                    target="_blank"><i class="fa fa-linkedin-square mr-1"></i>Antonio Vallejo</a>

                            </div>

                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12 d-flex">
                            <i class="fa fa-quote-left mr-1"></i>
                            <p>{{'CREATOR.TEAM-MESSAGE-B'|translate}}</p>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

</div>