<!-- hero y buscador -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 hero">
            <div class="row">
                <div class="col-6 desktop">
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="../../../assets/images/video1.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="col-6 desktop">
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="../../../assets/images/video2.mp4" type="video/mp4">
                    </video>
                </div>
            </div>




            <!-- buscador -->
            <div class="container h-100">
                <div class="d-flex text-center h-100">
                    <div class="my-auto w-100 text-white">
                        <div class="d-flex justify-content-center h-100">
                            <!-- al hacer hover en el buscador se amplia (viene de css) y se mantiene desplegado cuando hay resultados  -->
                            <!-- al hacer click fuera se borran los resultados de busqueda y el imput -->
                            <div class="searchbar" [ngClass]="{'searchbar_dirty': searchResult}"
                                (clickOutside)="searchResult = null; searchInput.value = null">
                                <input class="search_input" type="text" #searchInput
                                    [placeholder]="translateService.instant('COMMON.SEARCH')">
                                <a class="search_icon">
                                    <fa-icon class="size-icon" [icon]="['fas', 'search']"></fa-icon>
                                </a>
                                <div class="search-results" *ngIf="searchResult">
                                    <ul class="result-group">
                                        <!-- resultados de búsqueda en blog general -->
                                        <li class="result-item" *ngFor="let post of searchResult.generalPosts"
                                            [routerLink]="['blog/general/', post.id]">
                                            <div class="result-type col-4 text-center">Blog General</div>
                                            <div class="col-8 font-weight-bold">{{post.title |titlecase}}</div>
                                        </li>
                                        <!-- resultados de búsqueda en blog habalndo -->
                                        <li class="result-item" *ngFor="let post of searchResult.hablandoPosts"
                                            [routerLink]="['blog/hablando-de-política/', post.id]">
                                            <div class="result-type col-4 text-center">Blog Hablando</div>
                                            <div class="col-8 font-weight-bold">{{post.title |titlecase}}</div>
                                        </li>
                                        <!-- resultados de búsqueda en conceptos -->
                                        <li class="result-item" *ngFor="let concept of searchResult.concepts"
                                            [routerLink]="['conceptos']"
                                            [queryParams]="{searchTerm: translateService.instant(concept.title)}">
                                            <div class="result-type col-4 text-center">Concepto</div>
                                            <div class="col-8 font-weight-bold">
                                                {{translateService.instant(concept.title) |titlecase}}</div>
                                        </li>
                                        <!-- resultados de búsqueda en paises -->
                                        <li class="result-item" *ngFor="let country of searchResult.countries"
                                            [routerLink]="['mapa/pais/', country.code]">
                                            <div class="result-type col-4 text-center">País</div>
                                            <div class="col-8 font-weight-bold"> {{country.official_name |titlecase}}
                                            </div>
                                        </li>
                                        <!-- si no hay resultados de busqueda muestra este mensaje -->
                                        <li class="result-item"
                                            *ngIf="!searchResult.generalPosts && !searchResult.hablandoPosts && !searchResult.concepts && !searchResult.countries">
                                            {{'HOME.NO-RESULT' | translate}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- informacion aplicacion -->
<div class="text-center container-color pt-6 pb-6">
    <div class="container">
        <h3 class="mb-1"> {{'HOME.WHAT-IS-IT' | translate}} </h3>
        <hr class="mb-5">
        <div class=" row">
            <div class="col-md-5 mt-md-4">
                <p>{{'HOME.PURPOSE-A' | translate}}</p>
            </div>
            <div class="col-md-2 logo" [routerLink]="['nosotros']">
                <img class="w-100 hvr-wobble-to-top-right desktop" src="../../../assets/images/logo2.png" alt="">
                <img class="w-50 hvr-wobble-to-top-right mobile" src="../../../assets/images/logo2.png" alt="">
            </div>

            <div class="col-md-5 mt-md-4 mt-4">
                <p>{{'HOME.PURPOSE-B' | translate}}</p>
            </div>

        </div>
    </div>
</div>

<!-- mapa -->
<div class="container pt-6 pb-5">
    <h3 class="mb-1 text-center">{{'HOME.MAP-DISCOVER' | translate}}</h3>
    <hr class="mb-5">
    <div class="row position-relative mb-5">
        <div class="col-md-6 text-center map" [routerLink]="['mapa']">
            <img class="w-100" src="../../../assets/images/map.png" alt="">
        </div>
        <div class="col-md-6 vertical-center position-right text-center desktop">
            <p class=" ml-5 mr-5"> {{'HOME.MAP-TEXT' | translate}}</p>
        </div>
    </div>

    <div class="col-md-6 text-center mobile">
        <p class=" ml-5 mr-5"> {{'HOME.MAP-TEXT' | translate}}</p>
    </div>
</div>


<!-- test -->
<div class="container-color pt-6 pb-6">
    <div class="container text-center">
        <h3 class="mb-1"> {{'HOME.TEST-KNOWLEDGE' | translate}}</h3>
        <hr class="mb-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card mx-auto cursor hvr-wobble-to-top-right" style="width: 18rem" [routerLink]="['test/1']">
                    <img src="../../../assets/images/testmap.png" class="imagen-globo card-img-top desktop" alt="...">
                    <h5 class="card-title-test mt-3 p-2">{{'HEADER.WORLD-TEST' | translate}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{'HOME.TEST-WORLD-TEXT' | translate}} </p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 mb-4">

                <div class="card mx-auto cursor hvr-wobble-to-top-right" style="width: 18rem" [routerLink]="['test/2']">
                    <img src="../../../assets/images/testpolitico.png" class="card-img-top imagen-globo desktop"
                        alt="...">
                    <h5 class="card-title-test mt-3 p-2">{{'HEADER.POLITICAL-TEST' | translate}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{'HOME.TEST-POLITICAL-TEXT' | translate}} </p>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="card mx-auto cursor hvr-wobble-to-top-right" style="width: 18rem">
                    <img src="../../../assets/images/ranking.png" class="card-img-top imagen-globo desktop" alt="...">
                    <h5 class="card-title-test mt-3 p-2">{{'HOME.RANKING' | translate}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{'HOME.RANKING-TEXT' | translate}} </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- opiniones -->
<div class="container pt-6 pb-6">
    <h3 class="mb-1 text-center">{{'HOME.ABOUT-US' | translate}}</h3>
    <hr class="mb-3">
    <div class="row">
        <div class="offset-md-1 col-md-10 col-12">

            <div id="carouselExampleSlidesOnly" class="carousel slide mt-3" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active rounded">

                        <div class="d-flex text-center pt-3 pb-4 ml-md-5 mr-md-5 fondo">
                            <img src="../../../assets/images/tony.png" width="150px" height="150px"
                                class="desktop rounded-circle mt-5">

                            <div class="body-opinion">
                                <h5 class="font-weight-bold ml-5 mb-4 mt-5">{{'HOME.PERSON1' | translate}}</h5>

                                <p class="ml-5 ml-md-3 pb-md-6 mt-md-3">

                                    <sup>
                                        <fa-icon class="marks" [icon]="['fas', 'quote-left']">
                                        </fa-icon>
                                    </sup>

                                    {{'HOME.TEXT-PERSON1' | translate}}

                                    <sup>
                                        <fa-icon class="marks" [icon]="['fas', 'quote-right']"></fa-icon>
                                    </sup>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="carousel-item rounded">

                        <div class="d-flex text-center pt-3 pb-4 ml-md-5 mr-md-5 fondo">
                            <img src="../../../assets/images/persona2.png" width="150px" height="150px"
                                class="desktop rounded-circle mt-5">

                            <div class="body-opinion">
                                <h5 class="font-weight-bold ml-5 mb-4 mt-5">{{'HOME.PERSON2' | translate}}</h5>

                                <p class="ml-5 ml-md-3 pb-md-6 mt-md-3">

                                    <sup>
                                        <fa-icon class="marks" [icon]="['fas', 'quote-left']">
                                        </fa-icon>
                                    </sup>

                                    {{'HOME.TEXT-PERSON2' | translate}}

                                    <sup>
                                        <fa-icon class="marks" [icon]="['fas', 'quote-right']"></fa-icon>
                                    </sup>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="carousel-item rounded">

                        <div class="d-flex text-center pt-3 pb-4 ml-md-5 mr-md-5 fondo">
                            <img src="../../../assets/images/persona1.png" width="150px" height="150px"
                                class="desktop rounded-circle mt-5">

                            <div class="body-opinion">
                                <h5 class="font-weight-bold ml-5 mb-4 mt-5">{{'HOME.PERSON3' | translate}}</h5>

                                <p class="ml-5 ml-md-3 pb-md-6 mt-md-3">

                                    <sup>
                                        <fa-icon class="marks" [icon]="['fas', 'quote-left']">
                                        </fa-icon>
                                    </sup>

                                    {{'HOME.TEXT-PERSON3' | translate}}

                                    <sup>
                                        <fa-icon class="marks" [icon]="['fas', 'quote-right']"></fa-icon>
                                    </sup>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>



            </div>
        </div>


    </div>
</div>


<!-- blog -->

<div id="blog" class="pt-6 pb-6">
    <div class="container">
        <h3 class="mb-1 text-center">{{'HOME.READ-US' | translate}}</h3>
        <hr class="mb-5">
        <div class="row">
            <!-- Blog General-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="../../../assets/images/bloggeneral.png"
                                            alt="card image">
                                    </p>
                                    <h5 class="card-title">{{'HOME.GENERAL-BLOG' | translate}}</h5>
                                    <a class="btn btn-sm size"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <h5 class="card-title">{{'HOME.GENERAL-BLOG' | translate}}</h5>
                                    <p class="card-text">{{'HOME.GENERAL-BLOG-TEXT' | translate}}</p>
                                    <button routerLink="blog/general" class="btn">{{'HOME.READ-MORE'
                                        |translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hablando de política -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="../../../assets/images/homehablando.png"></p>
                                    <h5 class="card-title">{{'HOME.HABLANDO-POLITICA' | translate}}</h5>
                                    <a class="btn btn-sm size"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <h5 class="card-title">{{'HOME.HABLANDO-POLITICA' | translate}}</h5>
                                    <p class="card-text">{{'HOME.HABLANDO-POLITICA-TEXT' | translate}}</p>
                                    <button routerLink="blog/hablando-de-politica" class="btn">{{'HOME.READ-MORE' |
                                        translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Esto tambien es Política -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="../../../assets/images/EstoTmbPoli.png"
                                            alt="card image"></p>
                                    <h5 class="card-title">{{'HOME.ESTO-TAMBIEN' | translate}}</h5>

                                    <a class="btn btn-sm size"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">{{'HOME.ESTO-TAMBIEN' | translate}}</h5>
                                    <p class="card-text">{{'HOME.ESTO-TAMBIEN-TEXT' | translate}}</p>
                                    <a href="https://estotambienespolitica.com/" target="_blank"
                                        class="btn">{{'HOME.READ-MORE' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>