<!-- hero y buscador -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 hero">
            <div class="overlay"></div>
            <video class="desktop" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <!--                 <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
 --> </video>
            <video class="mobile" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <!--                 <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
 --> </video>
            <div class="container h-100">
                <div class="d-flex text-center h-100">
                    <div class="my-auto w-100 text-white">
                        <div class="d-flex justify-content-center h-100">
                            <div class="searchbar">
                                <input class="search_input" type="text" name=""
                                    [placeholder]="translateService.instant('COMMON.SEARCH')">
                                <a href="#" class="search_icon">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                        <path fill-rule="evenodd"
                                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- informacion aplicacion -->
<div class="text-center container-color pt-6 pb-6">
    <div class="container">
        <h3 class="mb-1"> {{'HOME.WHAT-IS-IT' | translate}} </h3>
        <hr class="mb-5">
        <div class=" row">
            <div class="col-md-5 desktop">
                <p>{{'HOME.PURPOSE-A' | translate}}</p>
            </div>
            <div class="col-md-2">
                <img class="w-100" src="../../../assets/images/logo2.png" alt="">
            </div>
            <div class="col-md-5 desktop">
                <p>{{'HOME.PURPOSE-B' | translate}}</p>
            </div>
            <div class="col-12 mobile mt-3">
                <p> {{'HOME.PURPOSE-A' | translate}} {{'HOME.PURPOSE-B' | translate}} </p>
            </div>
        </div>
    </div>
</div>
<!-- mapa -->
<div class="container pt-6 pb-6">
    <h3 class="mb-1 text-center">{{'HOME.MAP-DISCOVER' | translate}}</h3>
    <hr class="mb-5">
    <div class="row position-relative mb-5">
        <div class="col-md-6 text-center">
            <img class="w-50" src="../../../assets/images/map.png" alt="">
        </div>
        <div class="col-md-6 vertical-center position-right text-center desktop">
            {{'HOME.MAP-TEXT' | translate}}
        </div>
    </div>
</div>

<!-- test -->

<div class="container-color pt-6 pb-6">
    <div class="container text-center">
        <h3 class="mb-1"> {{'HOME.TEST-KNOWLEDGE' | translate}}</h3>
        <hr class="mb-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card mx-auto" style="width: 18rem">
                    <img src="../../../assets/images/McDonalds-Logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{'HEADER.WORLD-TEST' | translate}}</h5>
                        <p class="card-text">{{'HOME.TEST-WORLD-TEXT' | translate}} </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="card mx-auto" style="width: 18rem">
                    <img src="../../../assets/images/McDonalds-Logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{'HEADER.POLITICAL-TEST' | translate}}</h5>
                        <p class="card-text">{{'HOME.TEST-POLITICAL-TEXT' | translate}} </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- opiniones -->

<div class="container pt-6 pb-6">
    <h3 class="mb-1 text-center">{{'HOME.ABOUT-US' | translate}}</h3>
    <hr class="mb-5">
    <div class="row">
        <div class=" col-12">

            <div id="carouselExampleSlidesOnly" class="carousel slide mt-4" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex ml-5 mr-5 text-center">

                            <img src="../../../assets/images/hablando.PNG" width="150px"
                                class="desktop rounded-circle m-4">

                            <div class="mt-5">
                                <h5>Petunia</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos debitis
                                    laborum maxime.
                                    libero fugiat odit inventore. Placeat, perspiciatis pariatur commodi animi magnam
                                    ullam
                                    tenetur illum, aspernatur molestias, repudiandae suscipit excepturi.</p>
                            </div>
                        </div>
                        <div class="bg-info mr-5 ml-5 text-right mt-2">
                            <p class="mr-5">Lo que dicen en emojis: 😎🤩😙</p>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="d-flex ml-5 mr-5 text-center">

                            <img src="../../../assets/images/hablando.PNG" width="150px"
                                class="desktop rounded-circle m-4">

                            <div class="mt-5">
                                <h5>Ana</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos debitis
                                    laborum maxime
                                    libero fugiat odit inventore. Placeat, perspiciatis pariatur commodi animi magnam
                                    ullam
                                    tenetur illum, aspernatur molestias, repudiandae suscipit excepturi.</p>
                            </div>
                        </div>
                        <div class="bg-info mr-5 ml-5 text-right mt-2">
                            <p class="mr-5">Lo que dicen en emojis: 😎🤩😙</p>
                        </div>

                    </div>

                    <div class="carousel-item">
                        <div class="d-flex ml-5 mr-5 text-center">

                            <img src="../../../assets/images/hablando.PNG" width="150px"
                                class="desktop rounded-circle m-4">

                            <div class="mt-5">
                                <h5>Sofia</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos debitis
                                    laborum maxime
                                    libero fugiat odit inventore. Placeat, perspiciatis pariatur commodi animi magnam
                                    ullam
                                    tenetur illum, aspernatur molestias, repudiandae suscipit excepturi.</p>
                            </div>
                        </div>
                        <div class="bg-info mr-5 ml-5 text-right mt-2">
                            <p class="mr-5">Lo que dicen en emojis: 😎🤩😙</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- blog -->

<div id="blog" class="pt-6 pb-6">
    <div class="container">
        <h3 class="mb-1 text-center">{{'HOME.READ-US' | translate}}</h3>
        <hr class="mb-5">
        <div class="row">
            <!-- Blog General-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/images/blog.png" alt="card image">
                                    </p>
                                    <h5 class="card-title">{{'HOME.GENERAL-BLOG' | translate}}</h5>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">{{'HOME.GENERAL-BLOG' | translate}}</h5>
                                    <p class="card-text">{{'HOME.GENERAL-BLOG-TEXT' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hablando de política -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/images/hablando.png"></p>
                                    <h5 class="card-title">{{'HOME.HABLANDO-POLITICA' | translate}}</h5>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">{{'HOME.HABLANDO-POLITICA' | translate}}</h5>
                                    <p class="card-text">{{'HOME.HABLANDO-POLITICA-TEXT' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Esto tambien es Política -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/images/EstoTmbPoli.png"
                                            alt="card image"></p>
                                    <h5 class="card-title">{{'HOME.ESTO-TAMBIEN' | translate}}</h5>

                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">{{'HOME.ESTO-TAMBIEN' | translate}}</h5>
                                    <p class="card-text">{{'HOME.ESTO-TAMBIEN-TEXT' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
