<div class="container">

    <div class="row mt-6">

        <div class="col-md-4">
            <img src="../../../assets/images/McDonalds-Logo.png" alt="" width="300px">
        </div>

        <div class="col-md-8">

            <h4 class="text-center">Nombre del usuario</h4>

            <h6> País: _____________ </h6>
            <h6> Campo de estudio : _____________ </h6>

            <h6> Linkedin: _____________ </h6>
            <h6> Publicaciones: _____________ </h6>

        </div>


    </div>

    <div class="row mt-6">
        <div class="col-md-8">
            <h5>Conceptos ♥️ </h5>
            <p>lorem </p>
            <p>lorem </p>
            <p>lorem </p>
            <p>lorem </p>
            <p>lorem </p>


        </div>

        <div class="col-md-4">
            <h5>Test</h5>
            <p>Test Mundo </p>
            <p>Test Político</p>
        </div>
    </div>


    <div class="row mt-6">
        <div class="col-md-8">
            <h5>Publicaciones </h5>
            <p>lorem </p>
            <p>lorem </p>
            <p>lorem </p>
            <p>lorem </p>
            <p>lorem </p>

        </div>

        <div class="col-md-4">
            <h5>Recuerda:</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis consequatur mollitia, necessitatibus
                blanditiis vitae sequi esse nisi aspernatur</p>

        </div>
    </div>

</div>