@import "../../../styles.scss";

.colorbg {
    background: $quinaryBgColor;
}

.color {
    background: $tertiaryBgColor;
}

.logo {
    width: 30%;
}

.person {
    width: 10%;
}

.avatar-user-desktop {
    width: 50%;
}

.avatar-user {
    width: 40%;
}

h3,
.text-header {
    color: white;
}

.story {
    margin: 0 auto !important;
    width: 50%;
}

.storys {
    width: 50%;
}

h4 {
    text-align: center;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: black;
}

.btn {
    background: $tertiaryBgColor;
    color: $quaternaryTextColor;
}

.btn:hover {
    background: $primaryTextColor;
    color: $quaternaryTextColor;
}

.let-modal {
    width: 100px;
}

@media (max-width: 575px) {
    .storys {
        width: 100%;
    }
}
