@import "../../../styles.scss";

.colorbg {
  background: $quinaryBgColor;
}

.color {
  background: $tertiaryBgColor;
}

.logo {
  width: 30%;
}

.person {
  width: 10%;
}

.avatar {
  border-radius: 50%;
}

.avatar-user {
  width: 50%;
}

h3,
.text-header {
  color: $quaternaryTextColor;
}

.story {
  margin: 0 auto !important;
  width: 50%;
}

.storys {
  width: 50%;
}

.instagram_avatar_border {
  background-image: url(../../../assets/images/logostory.png);
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 83%;
  display: inline-block;
  cursor: pointer;
}

.instagram_avatar_noborder {
  background-image: url(../../../assets/images/logostory1.png);
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 83%;
  display: inline-block;
  cursor: pointer;
}

h4 {
  text-align: center;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: $quinaryBgColor;
}

.btn {
  background: $tertiaryBgColor;
  color: $quaternaryTextColor;
}

.btn:hover {
  background: $primaryTextColor;
  color: $quaternaryTextColor;
}

.let-modal {
  width: 100px;
}

.progress {
  height: 5px;
}

.span {
  font-weight: lighter;
  font-style: italic;
}

@media (max-width: 575px) {
  .storys {
    width: 100%;
  }

  .avatar-user {
    width: 40%;
  }
}

/* Subir imagen */

.preview {
  padding: 10px;
  position: relative;
}

.preview-img {
  border-radius: 100%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
}

.browse-button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 70px;
  background: linear-gradient(180deg, transparent, black);
  opacity: 0;
  transition: 0.3s ease;
}

.browse-input {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

strong {
  cursor: pointer;
}

/* boton editar */

.edit {
  font-size: 25px;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}

/* conceptos */

.favorite {
  cursor: pointer;
  font-weight: bolder;
  border: 1px solid transparent;
}

.favorite:hover {
  border: 1px solid $tertiaryBgColor;
}

.space-color {
  background: $quaternaryBgColor;
  padding-bottom: 30px;
}

.icon {
  color: white;
}

.change {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.change:hover {
  border-bottom: 1px solid $tertiaryBgColor;
}

.icon {
  font-size: 30px;
}
