<!-- TODO: ponerle la ruta a este componente, esta mal -->

<!-- TODO: las card deben ser reemplazadas por las que tengamos en home -->

<div class="container">

    <div class="row text-center mt-6">
        <div class="col-md-12">
            <h3>Pon a prueba tus conocimientos</h3>
            <p class="mt-3">Elige tu siguiente reto 🤓 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptates doloribus
                ex nemo nostrum asperiores </p>
        </div>
    </div>

    <div class="row text-center">

        <div class="col-md-6">
            <div class="card mb-3">
                <img src="../../../assets/images/McDonalds-Logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Test Mundo </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test Político</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <img src="../../../assets/images/McDonalds-Logo.png" class="card-img-bottom" alt="...">
            </div>
        </div>
    </div>

    <!-- TODO: Pensar cómo poner el ranking, si detras de la cards o va ocupar un espacio  -->

</div>