<div class="container-color">
  <div class="container py-md-5 py-4">
    <div class="row">
      <div class="col-md-5">
        <div class="avatar">
          <div class="hand"></div>
          <div class="hand hand-r"></div>
          <div class="arms">
            <div class="arm"></div>
            <div class="arm arm-r"></div>
          </div>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-4 login-form" *ngIf="action === 'login'">

          <div class="form-group">
            <label for="username">{{'LOGIN.USERNAME' | translate }}</label>
            <input id="username" type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'not-valid': loginForm.get('email').touched && !loginForm.get('email').valid }" />
            <div *ngIf="loginForm.get('email').touched && !loginForm.get('email').valid" class="alert alert-danger">
              <span *ngIf="loginForm.get('email').errors.required">{{ 'FORM.VALIDATION.REQUIRED' | translate }}</span>
              <span *ngIf="loginForm.get('email').errors.email">{{ 'FORM.VALIDATION.EMAILFORMAT' | translate }} </span>
            </div>
          </div>


          <div class="form-group">
            <label for="password">{{'LOGIN.PASSWORD' | translate }}</label>
            <div class="input-group" (clickOutside)="passwordFocusout()">
              <input id="password" type="password" formControlName="password" class="form-control border-right-0"
                [ngClass]="{ 'not-valid': loginForm.get('password').touched && !loginForm.get('password').valid }"
                (focus)="passwordFocus()" />
              <div class="input-group-append border-left-0">
                <div class="input-group-text py-0 px-3"
                  [ngClass]="{ 'not-valid': loginForm.get('password').touched && !loginForm.get('password').valid }">
                  <div data-field="password" id="eyePassword" class="eye_open" (click)="showPassword($event)"></div>
                </div>
              </div>
            </div>
            <div *ngIf="loginForm.get('password').touched && !loginForm.get('password').valid"
              class="alert alert-danger">
              <span *ngIf="loginForm.get('password').errors.required">{{ 'FORM.VALIDATION.REQUIRED' | translate
                }}</span>
            </div>
          </div>

          <div class="form-row">
            <a id="forgotPassword" class="primaryTextColor" (click)="showPasswordForgottenModal()">
              {{'LOGIN.PASSWORDFORGOTTEN' | translate }}
            </a>
          </div>
          <div class="form-row">
            <a id="signup" class="primaryTextColor" [routerLink]="['/signup']">
              {{'LOGIN.SIGNUP' | translate }}
            </a>
          </div>

          <button class="btn w-100 tertiaryBgColor quaternaryTextColor mt-3 " type="submit"
            [disabled]="!loginForm.valid">
            {{'LOGIN.LOGIN' | translate }}
          </button>
        </form>

        <form [formGroup]="signupForm" (ngSubmit)="signup()" class="p-4 login-form" *ngIf="action === 'signup'">

          <div class="form-group">
            <label for="nickname">{{'LOGIN.USER-NAME' | translate }}</label>
            <input id="nickname" type="email" formControlName="nickname" class="form-control"
              [ngClass]="{ 'not-valid': signupForm.get('nickname').touched && !signupForm.get('nickname').valid }" />
            <div *ngIf="signupForm.get('nickname').touched && !signupForm.get('nickname').valid"
              class="alert alert-danger">
              <span *ngIf="signupForm.get('nickname').errors.required">{{ 'FORM.VALIDATION.REQUIRED' | translate
                }}</span>
            </div>
          </div>


          <div class="form-group">
            <label for="username">{{'LOGIN.EMAIL' | translate }}</label>
            <input id="username" type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'not-valid': signupForm.get('email').touched && !signupForm.get('email').valid }" />
            <div *ngIf="signupForm.get('email').touched && !signupForm.get('email').valid" class="alert alert-danger">
              <span *ngIf="signupForm.get('email').errors.required">{{ 'FORM.VALIDATION.REQUIRED' | translate }}</span>
              <span *ngIf="signupForm.get('email').errors.email">{{ 'FORM.VALIDATION.EMAILFORMAT' | translate }} </span>
            </div>
          </div>

          <div (clickOutside)="passwordFocusout()">

            <div class="form-group">
              <label for="password">{{'LOGIN.PASSWORD' | translate }}</label>
              <div class="input-group">
                <input id="password" type="password" formControlName="password" class="form-control border-right-0"
                  [ngClass]="{ 'not-valid': signupForm.get('password').touched && !signupForm.get('password').valid }"
                  (focus)="passwordFocus()" />
                <div class="input-group-append border-left-0">
                  <div class="input-group-text py-0 px-3"
                    [ngClass]="{ 'not-valid': signupForm.get('password').touched && !signupForm.get('password').valid }">
                    <div data-field="password" id="eyePassword" class="eye_open" (click)="showPassword($event)"></div>
                  </div>
                </div>
              </div>
              <div *ngIf="signupForm.get('password').touched && !signupForm.get('password').valid"
                class="alert alert-danger">
                <span *ngIf="signupForm.get('password').errors.pattern">{{'LOGIN.PASSWORD-MESSAGE' | translate }}</span>
                <span *ngIf="signupForm.get('password').errors.required">{{ 'FORM.VALIDATION.REQUIRED' | translate
                  }}</span>
              </div>
            </div>


            <div class="form-group">
              <label for="passwordConfirm">{{'LOGIN.PASSWORD-REPEAT' | translate }}</label>
              <div class="input-group">
                <input id="passwordConfirm" type="password" formControlName="passwordConfirm"
                  class="form-control border-right-0"
                  [ngClass]="{ 'not-valid': signupForm.get('passwordConfirm').touched && !signupForm.get('passwordConfirm').valid }"
                  (focus)="passwordFocus()" />
                <div class="input-group-append border-left-0">
                  <div class="input-group-text py-0 px-3"
                    [ngClass]="{ 'not-valid': signupForm.get('passwordConfirm').touched && !signupForm.get('passwordConfirm').valid }">
                    <div data-field="passwordConfirm" id="eyePasswordConfirm" class="eye_open"
                      (click)="showPassword($event)"></div>
                  </div>
                </div>
              </div>
              <div *ngIf="signupForm.get('passwordConfirm').touched && !signupForm.get('passwordConfirm').valid"
                class="alert alert-danger">
                <span *ngIf="signupForm.get('passwordConfirm').errors.notMatch">
                  {{'LOGIN.PASSWORD-REPEAT-MESSAGE' | translate }}</span>
                <span *ngIf="signupForm.get('passwordConfirm').errors.required">{{ 'FORM.VALIDATION.REQUIRED' |
                  translate }}</span>
              </div>
            </div>
          </div>

          <button class="btn w-100 tertiaryBgColor quaternaryTextColor mt-3 " type="submit"
            [disabled]="!signupForm.valid">
            {{'LOGIN.CREATE-ACCOUNT' | translate }}
          </button>
        </form>
      </div>

      <div class="col-md-6 offset-md-1">

        <h3 class="mb-1 text-center"> {{'BENEFITS.BENEFITS-TITLE' | translate}} </h3>
        <hr class="mb-5">
        <div class="row mb-md-4">
          <div class="col-6 text-center">
            <fa-icon class="size-icon" [icon]="['far', 'heart']"></fa-icon>
            <h4>{{'BENEFITS.FAVORITECONCEPTS' | translate }}</h4>
            <p>{{'BENEFITS.TEXT-FAVORITECONCEPTS' | translate }}
            </p>
          </div>
          <div class="col-6 pl-5 text-center">
            <fa-icon class="size-icon" [icon]="['far', 'comment-dots']"></fa-icon>
            <h4>{{'BENEFITS.COMMENTS' | translate }}</h4>
            <p> {{'BENEFITS.TEXT-COMMENTS' | translate }}
            </p>
          </div>
        </div>

        <div class="row mb-md-4">
          <div class="col-6 text-center">
            <fa-icon class="size-icon" [icon]="['far', 'newspaper']"></fa-icon>
            <h4>{{'BENEFITS.PUBLISH' | translate }}</h4>
            <p> {{'BENEFITS.TEXT-PUBLISH' | translate }}
            </p>
          </div>
          <div class="col-6 pl-5 text-center">
            <fa-icon class="size-icon" [icon]="['fas', 'trophy']"></fa-icon>
            <h4> {{'BENEFITS.HAVEFUN' | translate }} </h4>
            <p> {{'BENEFITS.TEXT-HAVEFUN' | translate }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-6 text-center">
            <fa-icon class="size-icon" [icon]="['fas', 'glasses']"></fa-icon>
            <h4>{{'BENEFITS.READ' | translate }}</h4>
            <p> {{'BENEFITS.TEXT-READ' | translate }}
            </p>
          </div>
          <div class="col-6 pl-5 text-center">
            <fa-icon class="size-icon" [icon]="['fas', 'shopping-cart']"></fa-icon>
            <h4> {{'BENEFITS.BUY' | translate }} </h4>
            <p> {{'BENEFITS.TEXT-BUY' | translate }}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header border-bottom-0 px-4 pt-3">
    <h5 class="modal-title">{{'LOGIN.PASSWORDFORGOTTEN' | translate }}</h5>
    <div id="closeModal">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>&nbsp;
      </button>
    </div>
  </div>

  <div class="modal-body px-4">
    <p>{{'LOGIN.USER-MESSAGE' | translate }}</p>
  </div>

  <div class="modal-footer justify-content-center px-4 border-top-0 pb-3">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">{{'LOGIN.CANCEL' | translate
      }}</button>
    <button type="button" class="btn tertiaryBgColor quaternaryTextColor"
      (click)="passwordForgotten()">{{'LOGIN.RESET-PASSWORD' | translate }}</button>
  </div>
</ng-template>