
@import "../../../styles.scss";

.login-form{
  background-color: $secondaryBgColor;
  border-radius: 5px;
}

.avatar {
	margin: auto;
	width: 211px;
	height: 108px;
	background-image: url("https://dash.readme.io/img/owl-login.png");
  position: relative;
  bottom: -10px;
}

.avatar .hand {
	width: 34px;
	height: 34px;
	border-radius: 40px;
	background-color: #472d20;
	transform: scaleY(0.6);
	position: absolute;
	left: 14px;
	bottom: -8px;
	transition: 0.3s ease-out;
}

.avatar .hand.password {
	transform: translateX(42px) translateY(-15px) scale(0.7);
}

.avatar .hand.hand-r {
	left: 170px;
}

.avatar .hand.hand-r.password {
	transform: translateX(-42px) translateY(-15px) scale(0.7);
}

.avatar .arms {
	position: absolute;
	top: 58px;
	height: 41px;
	width: 100%;
	overflow: hidden;
}

.avatar .arms .arm {
	width: 40px;
	height: 65px;
	background-image: url("https://dash.readme.io/img/owl-login-arm.png");
	position: absolute;
	left: 20px;
	top: 40px;
	transition: 0.3s ease-out;
}

.avatar .arms .arm.password {
	transform: translateX(40px) translateY(-40px);
}

.avatar .arms .arm.arm-r {
	left: 158px;
	transform: scaleX(-1);
}

.avatar .arms .arm.arm-r.password {
	transform: translateX(-40px) translateY(-40px) scaleX(-1);
}

// .form {
// 	margin: auto;
// 	margin-top: -9px;
// 	padding: 30px;
// 	background-color: #fff;
// 	width: 175px;
// }

// .form .control {
// 	margin-bottom: 10px;
// 	position: relative;
// }

// .form .control label {
// 	position: absolute;
// 	font-size: 16px;
// 	top: 11px;
// 	left: 9px;
// 	color: rgba(0,0,0,0.3);
// }

// .form .control input {
// 	padding: 9px 6px 9px 30px;
// 	border-radius: 4px;
// 	border: 1px solid #ccc;
// 	font-size: 14px;
// }

.eye_closed {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/icons/eye_closed.png);
  background-size: contain;
  cursor: pointer;
}

.eye_open {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../assets/icons/eye_open.png);
  cursor: pointer;
}

.loginButton{
  width: 100%;
  background-color: $quaternaryBgColor;
  color: $quaternaryTextColor;
}



