<div class="container">
  <h3 class="mb-1 text-center"> Mapa Mundial </h3>
  <hr class="mb-5">
  <div class="row">
    <div class="btn" (click)="selectCountry()">Pais seleccionado</div>
  </div>
</div>

<div class="container-color pt-5 pb-6">
  <div class="container">
    <h3 class="mb-1 text-center"> Paises seleccionados </h3>
    <hr class="mb-5">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6">
            <div class="box py-4 px-2">
              <img class="image-flag" src="../../../assets/icons/espana.png">
              <div class="box-text">
                <h4 class="text-center">España</h4>
                <p><i class="fa fa-user-tie"></i> Pedro Sanchez</p>
                <p><i class="fa fa-landmark"></i>Democracia Parlamentaria</p>
                <p><i class="fa fa-language"></i>Español</p>
                <p><i class="fa fa-money-bill"></i>Euro</p>
              </div>
              <a class="btn btn-sm size"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
