<div class="container">
  <h3 class="mb-1 text-center"> Mapa Mundial </h3>
  <hr class="mb-5">
  <div class="row">
    <div class="btn" (click)="selectCountry()">Pais seleccionado</div>
  </div>
</div>

<div class="container-color pt-5 pb-6">
  <div class="container">
    <h3 class="mb-1 text-center"> Paises seleccionados </h3>
    <hr class="mb-5">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-6">
            <div class="box py-4 px-2">
              <img class="image-flag" src="../../../assets/icons/espana.png">
              <div class="box-text">
                <h4 class="text-center mb-4">España</h4>
                <div class="row">
                  <div class="col-3">
                    <fa-icon [icon]="['fas', 'user-tie']"></fa-icon>
                  </div>
                  <div class="col-9 mb-3"> Pedro Sanchez
                  </div>
                  <div class="col-3 mb-3">
                    <fa-icon [icon]="['fas', 'landmark']"></fa-icon>
                  </div>
                  <div class="col-9 mb-3"> Democracia Parlamentaria
                  </div>
                  <div class="col-3 mb-3">
                    <fa-icon [icon]="['fas', 'language']"></fa-icon>
                  </div>
                  <div class="col-9 mb-3"> Euro
                  </div>
                  <div class="col-3 mb-3">
                    <fa-icon [icon]="['fas', 'money-bill']"></fa-icon>
                  </div>
                  <div class="col-9 mb-3"> Español
                  </div>
                </div>
              </div>
              <a class="btn btn-sm size"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
