<div class="container-fluid container-md">
  <h3 class="mb-1 text-center"> {{'MAP.WORLD-MAP' | translate}} </h3>
  <hr class="mb-4">
  <div id="map" class="mb-4 mb-md-0"></div>
  <div class="row">
    <fa-icon class="size-icon mx-auto animate__animated animate__bounce animate__infinite desktop"
      [icon]="['fas', 'sort-down']"></fa-icon>
  </div>
</div>

<div class="container-color py-4">
  <div class="container position-relative">
    <div class="btn position-right desktop" (click)="clearSelectedCountries()" *ngIf="selectedCountries.length">
      {{'MAP.DELETE-SELECTED' | translate}} </div>
    <h3 class="mb-1 text-center"> {{'MAP.SELECTED-COUNTRIES' | translate}} </h3>
    <hr class="mb-md-4">
    <ng-container *ngIf="selectedCountries.length; else elseTemplate">
      <div class="row">
        <div class="btn mx-auto mobile mb-2" (click)="clearSelectedCountries()">{{'MAP.DELETE-SELECTED' | translate}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-6" *ngFor="let country of selectedCountries">
          <!-- versión descktop -->
          <div class="box py-2 px-2 box-desktop mb-2">
            <img class="image-flag mb-2" [src]="country.flag">
            <div class="box-text">
              <h5 class="text-center mb-3">{{('COUNTRIES.' + country.code) | translate}}</h5>
              <!-- <div class="row">
                <div class="col-md-3 col-4 px-0">
                  <fa-icon [icon]="['fas', 'user-tie']"></fa-icon>
                </div>
                <div class="col-md-9 col-8 mb-3 px-0"> {{country.leader1Title}}: {{country.leader1Name}}
                </div>
                <div class="col-md-3 col-4 px-0">
                  <fa-icon [icon]="['fas', 'landmark']"></fa-icon>
                </div>
                <div class="col-md-9 col-8 mb-3 px-0"> {{country.goverment}}
                </div>
                <div class="col-md-3 col-4 px-0">
                  <fa-icon [icon]="['fas', 'language']"></fa-icon>
                </div>
                <div class="col-md-9 col-8 mb-3 px-0"> {{country.languages}}
                </div>
                <div class="col-md-3 col-4 px-0">
                  <fa-icon [icon]="['fas', 'money-bill']"></fa-icon>
                </div>
                <div class="col-md-9 col-8 mb-3 px-0"> {{country.currencies}}
                </div>
              </div> -->

              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td style="width: 21%;">
                      <fa-icon [icon]="['fas', 'user-tie']"></fa-icon>
                    </td>
                    <td>
                      {{(country.leader1Title? (country.leader1Title + ': ' + country.leader1Name) : 'No disponible') | titlecase}}
                    </td>
                  </tr>

                  <tr *ngIf="country.leader2Title">
                    <td style="width: 21%;">
                      <fa-icon [icon]="['fas', 'user']"></fa-icon>
                    </td>
                    <td>
                      {{(country.leader2Title? (country.leader2Title + ': ' + country.leader2Name) : 'No disponible') |titlecase}}
                    </td>
                  </tr>

                  <tr>
                    <td style="width: 21%;">
                      <fa-icon [icon]="['fas', 'landmark']"></fa-icon>
                    </td>
                    <td>{{(country.goverment? country.goverment : 'No disponible')|titlecase}}</td>
                  </tr>

                  <tr>
                    <td style="width: 21%;">
                      <fa-icon [icon]="['fas', 'language']"></fa-icon>
                    </td>
                    <td>{{(country.languages? country.languages : 'No disponible') |titlecase}}</td>
                  </tr>

                  <tr>
                    <td style="width: 21%;">
                      <fa-icon [icon]="['fas', 'money-bill']"></fa-icon>
                    </td>
                    <td>{{(country.currencies? country.currencies : 'No disponible') |titlecase}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!-- <a class="btn btn-sm size" [routerLink]="['/mapa/pais', country.code]"><i class="fa fa-plus"></i></a> -->
          </div>

          <!-- versión movil -->
          <div class="box py-2 px-2 mb-2 box-mobile">
            <div class="box-text">
              <div class="row align-items-center mb-2">
                <div class="col-9 p-0">
                  <h6 class="m-0">{{('COUNTRIES.' + country.code) | translate}}</h6>
                </div>
                <div class="col-3 p-0 pl-1">
                  <img class="image-flag" [src]="country.flag">
                </div>
              </div>
              <div class="row">
                <div class="col-4 px-0">
                  <fa-icon [icon]="['fas', 'user-tie']"></fa-icon>
                </div>
                <div class="col-8 mb-2 px-0"> Pedro Sanchez
                </div>
                <div class="col-4 px-0">
                  <fa-icon [icon]="['fas', 'landmark']"></fa-icon>
                </div>
                <div class="col-8 mb-2 px-0"> Democracia Parlamentaria
                </div>
                <div class="col-4 px-0">
                  <fa-icon [icon]="['fas', 'language']"></fa-icon>
                </div>
                <div class="col-8 mb-2 px-0"> {{country.languages}}
                </div>
                <div class="col-4 px-0">
                  <fa-icon [icon]="['fas', 'money-bill']"></fa-icon>
                </div>
                <div class="col-8 mb-2 px-0"> {{country.currencies}}
                </div>
              </div>
            </div>
            <a class="btn btn-sm size" [routerLink]="['/mapa/pais', country.code]"><i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="row">
        <div class="mx-auto">{{'MAP.START-SELECT' | translate}}</div>
      </div>
    </ng-template>
  </div>
</div>
