<h3 class="mb-1 text-center mt-5"> {{'HEADER.CONCEPTS' | translate}} </h3>
<hr class="mb-3">

<div class="container mb-7 mt-3">

    <div class="row">
        <div class="offset-4 col-md-4 mt-5 mb-5 offset-4 desktop">
            <input type="text" class="form-control">
        </div>

        <div class="col-12 mt-4 mb-4 mobile">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="row">


        <div class="col-md-3 desktop">
            <h6> {{'CONCEPT.SELECT' | translate}} </h6>

            <p> {{'CONCEPT.SELECT-TEXT' | translate}}</p>

            <h6 class="mt-5">{{'CONCEPT.HOW-SELECT-FAVORITE' | translate}}</h6>

            <p>{{'CONCEPT.HOW-SELECT-FAVORITE-TEXT-ONE' | translate}} </p>
            <p>{{'CONCEPT.HOW-SELECT-FAVORITE-TEXT-TWO' | translate}}</p>

            <h6 class="mt-5">{{'CONCEPT.HOW-DELETE-FAVORITE' | translate}}</h6>

            <p>{{'CONCEPT.HOW-DELETE-FAVORITE-TEXT' | translate}}</p>

            <h6 class="mt-5">{{'CONCEPT.HOW-MANY-FAVORITE' | translate}}</h6>

            <p>{{'CONCEPT.HOW-MANY-FAVORITE-TEXT' | translate}}</p>

        </div>



        <div class="col-md-9 col-12">

            <div class="row">

                <div *ngFor="let concept of concepts">

                    <div class="card m-2" style="max-width: 50rem;">
                        <div class="card-body">

                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{concept.title}}</h5>
                                <fa-icon class="size-icon" [icon]="['far', 'heart']"></fa-icon>
                            </div>
                            <p class="card-text">{{concept.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>