<div class="container-fluid container-color pb-3">
    <h3 class="mb-1 text-center pt-5"> {{'HEADER.CONCEPTS' | translate}} </h3>
    <hr class="mb-3">

    <!-- buscador de los conceptos -->
    <div class="row">
        <div class="offset-md-4 col-md-4 mt-md-5 mb-md-5 col-12 mt-4 mb-4 offset-md-4 ">
            <div class="input-group">
                <input class="form-control border-right-0" [(ngModel)]="this.searchTerm" #conceptsSearchInput>
                <div class="input-group-append border-left-0 pb-2">
                    <div class="input-group-text px-3">
                        <fa-icon class="search" [icon]="['fas', 'search']"></fa-icon>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="container mb-7 pt-5">


    <div class="row">


        <div class="col-md-3 desktop">
            <h6> {{'CONCEPT.SELECT' | translate}} </h6>

            <p> {{'CONCEPT.SELECT-TEXT' | translate}}</p>

            <h6 class="mt-5">{{'CONCEPT.HOW-SELECT-FAVORITE' | translate}}</h6>

            <p>{{'CONCEPT.HOW-SELECT-FAVORITE-TEXT-ONE' | translate}} </p>
            <p>{{'CONCEPT.HOW-SELECT-FAVORITE-TEXT-TWO' | translate}}</p>

            <h6 class="mt-5">{{'CONCEPT.HOW-DELETE-FAVORITE' | translate}}</h6>

            <p>{{'CONCEPT.HOW-DELETE-FAVORITE-TEXT' | translate}}</p>

            <h6 class="mt-5">{{'CONCEPT.HOW-MANY-FAVORITE' | translate}}</h6>

            <p>{{'CONCEPT.HOW-MANY-FAVORITE-TEXT' | translate}}</p>

        </div>



        <div class="col-md-9 col-12">

            <div class="row">

                <ng-container *ngIf="concepts; else elseTemplate">
                    <div *ngFor="let concept of concepts">

                        <div class="card m-2" style="max-width: 50rem;">
                            <div class="card-body">

                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">{{concept.title | translate}}</h5>
                                    <!--  <div class="btn button-heart">
                                        <fa-icon class="size-icon" [icon]="['far', 'heart']"
                                            (click)="makeFavorite(concept.id)"></fa-icon>
                                    </div> -->

                                    <div class="heart-empty" (click)="toggleFavorite($event.target, concept.id)"
                                        *ngIf="currentUser"></div>

                                </div>
                                <p class="card-text">{{concept.text | translate}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>


                <!-- Botones para paginación -->

                <div class="col-md-12 text-center" style="max-width: 50rem;">
                    <button class="btn mr-4" (click)="prevPage()">←</button>
                    <button class="btn" (click)="nextPage()">→</button>
                </div>

                <ng-template #elseTemplate>
                    <div class="card m-2 w-100 text-center" style="max-width: 50rem;">
                        <div class="card-body">
                            <p class="card-text">{{'CONCEPT.MESSAGE' |translate}}</p>
                        </div>
                    </div>
                </ng-template>

            </div>


        </div>
    </div>
</div>