@import "../../../styles.scss";

li {
    list-style: none;
}

.size-icon {
    font-size: 25px;
}

.button-heart {
    cursor: pointer;
    background-color: transparent !important;
    border: 1px solid $tertiaryBgColor !important;
}

.button-heart:hover {
    background-color: $tertiaryBgColor !important;
    border: 1px solid $tertiaryBgColor;
}

.search {
    cursor: pointer;
}

.btn {
    background: $tertiaryBgColor;
    color: $quaternaryTextColor;
}

.btn:hover {
    background: $primaryTextColor;
    color: $quaternaryTextColor;
}

.heart-empty {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(../../../assets/icons/heart-empty.png);
    background-size: contain;
    cursor: pointer;
}

.heart-full {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(../../../assets/icons/heart-full.png);
    background-size: contain;
    cursor: pointer;
}
