<h3 class="mb-1 text-center mt-5"> {{'HEADER.CONCEPTS' | translate}} </h3>
<hr class="mb-5">


<div class="container mb-5 mt-5">

    <div class="row">


        <div class="col-md-3 desktop">
            <h4>Lista de conceptos</h4>
            <ul>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
                <li>Estado</li>
            </ul>

        </div>



        <div class="col-md-9">

            <div class="row">

                <div class="card m-2" style="width: 50rem;">
                    <div class="card-body">

                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Estado</h5>
                            <i class="fa fa-heart"></i>


                        </div>
                        <p class="card-text">El concepto de Estado difiere según los autores,​ pero algunos de ellos
                            definen
                            el
                            Estado como el conjunto de instituciones que poseen la autoridad y potestad para establecer
                            las
                            normas que regulan una sociedad, teniendo soberanía interna y externa sobre un territorio
                            determinado.</p>
                    </div>
                </div>

                <div class="card m-2" style="width: 50rem;">
                    <div class="card-body">

                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Estado</h5>
                            <i class="fa fa-heart"></i>
                        </div>
                        <p class="card-text">El concepto de Estado difiere según los autores,​ pero algunos de ellos
                            definen
                            el
                            Estado como el conjunto de instituciones que poseen la autoridad y potestad para establecer
                            las
                            normas que regulan una sociedad, teniendo soberanía interna y externa sobre un territorio
                            determinado.</p>
                    </div>
                </div>

                <div class="card m-2" style="width: 50rem;">
                    <div class="card-body">

                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Estado</h5>
                            <i class="fa fa-heart"></i>
                        </div>
                        <p class="card-text">El concepto de Estado difiere según los autores,​ pero algunos de ellos
                            definen
                            el
                            Estado como el conjunto de instituciones que poseen la autoridad y potestad para establecer
                            las
                            normas que regulan una sociedad, teniendo soberanía interna y externa sobre un territorio
                            determinado.</p>
                    </div>
                </div>

                <div class="card m-2" style="width: 50rem;">
                    <div class="card-body">

                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Estado</h5>
                            <i class="fa fa-heart"></i>
                        </div>
                        <p class="card-text">El concepto de Estado difiere según los autores,​ pero algunos de ellos
                            definen
                            el
                            Estado como el conjunto de instituciones que poseen la autoridad y potestad para establecer
                            las
                            normas que regulan una sociedad, teniendo soberanía interna y externa sobre un territorio
                            determinado.</p>
                    </div>
                </div>




            </div>
        </div>


    </div>


</div>