@import "../../../styles.scss";

.borde {
    border: 1px solid $tertiaryBgColor;
}

.borde:hover {
    background-color: $tertiaryBgColor;
    color: $quaternaryTextColor;
}

.space-color {
    background: $quaternaryBgColor;
}

.size-icon {
    font-size: 25px;
    cursor: pointer;
}

.heart-empty {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(../../../assets/icons/heart-empty.png);
    background-size: contain;
    cursor: pointer;
}

.heart-full {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(../../../assets/icons/heart-full.png);
    background-size: contain;
    cursor: pointer;
}
