@import "../../../styles.scss";

.borde {
    border: 1px solid $tertiaryBgColor;
}

.borde:hover {
    background-color: $tertiaryBgColor;
    color: $quaternaryTextColor;
}

.space-color {
    background: $quaternaryBgColor;
}
