<ng-container *ngIf="post">
    <div class="container-fluid container-color">

        <div class="container pb-5">

            <!-- POST -->

            <div class="row pt-3 mb-2">

                <div class="col-md-3 col-6">
                    <p class="borde text-center pb-2 rounded pt-2">
                        {{post.category | uppercase}} </p>
                </div>

                <div class="col-md-8 col-6 text-right mr-md-5" *ngIf="currentUser.id === post.user.id">
                    <!-- <div class="heart-empty mr-3" (click)="toggleFavorite($event.target, post.id)" placement="bottom"
                        ngbTooltip="{{'CONCEPT.FAVORITE'|translate}}"></div> -->

                    <fa-icon class="size-icon mr-3" [icon]="['fas', 'pencil-alt']" (click)="editPost(post.id)"
                        placement="bottom" ngbTooltip="{{'USER.EDIT-POST'|translate}}">
                    </fa-icon>

                    <fa-icon class="size-icon" [icon]="['far', 'trash-alt']" (click)="showDeleteModal()"
                        placement="bottom" ngbTooltip="{{'USER.DELETE-POST'|translate}}"></fa-icon>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>{{post.title}}</h3>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <!-- palabras claves /nombre del escritor -->
        <div class="row mt-5">
            <div class="col-md-9">
                <p>{{'FORM-PUBLISH.KEYWORDS'| translate}}: {{post.keywords}}</p>
            </div>

            <div class="col-md-3 d-flex">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill mr-2" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                <h5 class="text-right">WatchYourPolitics</h5>
                <div class="heart-empty ml-5" (click)="toggleFavorite($event.target, post.id)" placement="bottom"
                    ngbTooltip="{{'CONCEPT.FAVORITE'|translate}}" *ngIf="currentUser.id === post.user.id"></div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12" [innerHTML]="post.text">
            </div>
        </div>
    </div>



    <!-- SECCIÓN DE LIKE  -->

    <!-- SECCION COMENTARIOS -->

    <div class="container-fluid space-color">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{'COMMENTS.COMMENTS'|translate}}</h4>
                </div>
            </div>

            <!-- cards de comentarios -->
            <div class="row mb-2" *ngFor="let comment of post.comments">
                <div class="col-md-8 d-flex pt-3 pb-3 mt-3 rounded border-bottom border-top">
                    <div>
                        <img [src]="comment.user.photo" alt="" class="img-rounded">
                    </div>
                    <div class="ml-4">
                        <h6>{{comment.user.nickname}} </h6>
                        <p> {{comment.text}} </p>
                    </div>
                </div>
            </div>

            <form class="pb-5" [formGroup]="formComment" class="mb-5" (ngSubmit)="createComment()">
                <div class="col-md-8">
                    <h5 class="pt-5">{{'COMMENTS.WRITE-COMMENT'|translate}}</h5>
                    <label> {{'COMMENTS.COMMENT'|translate}} </label>
                    <textarea name="comment" id="" cols="30" rows="3" class="form-control" formControlName="text"
                        [ngClass]="{ 'not-valid': formComment.get('text').touched && !formComment.get('text').valid}"
                        required></textarea>

                    <div *ngIf="formComment.get('text').touched && !formComment.get('text').valid"
                        class="alert alert-danger">
                        <span
                            *ngIf="formComment.get('text').errors.required && formComment.get('text').touched">{{'FORM-PUBLISH.REQUIRED-FIELD'
                            |translate}}</span>
                    </div>
                    <input type="submit" value="{{'COMMENTS.BUTTOM-COMMENT'|translate}}" class="btn borde mt-2">
                </div>
            </form>
        </div>
    </div>
</ng-container>


<ng-template #content let-modal>
    <div class="modal-header border-bottom-0 px-4 pt-3">
        <h5 class="modal-title">{{'USER.DELETE-POST'|translate}}</h5>
        <div id="closeModal">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>&nbsp;
            </button>
        </div>
    </div>

    <div class="modal-body px-4">
        <p>{{'USER.DELETE-POST-TEXT'|translate}}</p>
    </div>

    <div class="modal-footer justify-content-center px-4 border-top-0 pb-3">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">{{'LOGIN.CANCEL' |
            translate
            }}</button>
        <button type="button" class="btn tertiaryBgColor quaternaryTextColor"
            (click)="deletePost(); modal.dismiss()">{{'USER.DELETE-POST'|translate}}</button>
    </div>
</ng-template>