<div class="container">

    <!-- POST -->
    <div>
        <div class="row mt-6">
            <div class="col-md-12 text-right">
                {{post.category}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h3>{{post.title}}</h3>
                <hr>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-9">
                <p>{{post.keywords}}</p>
            </div>

            <div class="col-md-3 d-flex">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill mr-2" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                <h5>Alice</h5>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <p>{{post.text}}</p>
            </div>
        </div>

    </div>

    <!-- SECCIÓN DE LIKE  -->
    <div class="row mt-4">
        <div class="col-md-12 text-right">

            <button class="btn btn-danger mr-2"> ♥️ </button>
            <button class="btn btn-info"> 👍</button>

        </div>
    </div>

    <!-- SECCION COMENTARIOS -->

    <div class="row mt-4">
        <div class="col-md-12">
            <h4>Comentarios</h4>
        </div>
    </div>

    <!-- cards de comentarios -->
    <div class="row">
        <div class="col-md-12 d-flex border border-danger pt-3 pb-3 mt-3 mb-3">

            <div>
                <img src="../../../assets/images/hablando.png" alt="" width="100px">
            </div>

            <div>
                Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Culpa officiis fugit omnis perferendis voluptate cumque cupiditate quo,
                maxime numquam nobis consequatur, ducimus commodi dolor repudiandae ipsam, voluptates velit deserunt
                delectus!

            </div>

        </div>
    </div>

</div>