<div class="container">

    <div class="row mt-6">
        <div class="col-md-12 text-right">
            CATEGORIA
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Titulo del articulo</h3>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-9">
            <p>Palabras claves: lorem, lorem, lorem, lorem, lorem.</p>
        </div>

        <div class="col-md-3 d-flex">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill mr-2" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <h5>Autor</h5>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veritatis vitae magnam magni eius nam illo
            sequi aperiam. Voluptatem, ex nesciunt nisi quaerat eum nulla animi vitae distinctio iure consequuntur?

            <br><br>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis molestias molestiae, adipisci, quas culpa
            ipsam sed aliquam exercitationem, placeat laboriosam possimus magnam voluptas enim dolorum ab doloremque in
            vel eos.

            <br><br>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minus vel eos, aspernatur, voluptas,
            cupiditate labore iure doloribus at in adipisci praesentium ea eaque quas fuga voluptate accusamus officiis!
            Quam.

            <br><br>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste animi fugiat accusantium. Dolorum, adipisci
            illum quibusdam porro fugiat quaerat magnam vitae id nulla perspiciatis at ducimus molestiae, reiciendis
            distinctio quis.
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 text-right">

            <button class="btn btn-danger mr-2"> ♥️ </button>
            <button class="btn btn-info"> 👍</button>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h4>Comentarios</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex border border-danger">

            <div>
                <img src="../../../assets/images/McDonalds-Logo.png" alt="" width="100px">
            </div>

            <div>
                Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Culpa officiis fugit omnis perferendis voluptate cumque cupiditate quo,
                maxime numquam nobis consequatur, ducimus commodi dolor repudiandae ipsam, voluptates velit deserunt
                delectus!

            </div>

        </div>
    </div>



</div>