/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.row {
    margin-right: 0;
    margin-left: 0;
}

.mobile {
    display: none;
}

.desktop {
    display: initial;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 575.98px) {
    .mobile {
        display: initial;
    }

    .desktop {
        display: none;
    }
}
