/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

/* paleta de colores */
$primaryBgColor: #ffff;
$secondaryBgColor: #b1afaf;
$tertiaryBgColor: black;
$quaternaryBgColor: #3f050a;

$primaryTextColor: black;
$secondaryTextColor: #0000;
$tertiaryTextColor: #3f050a;
$quaternaryTextColor: #b1afaf;

* {
    color: $primaryTextColor;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

.mobile {
    display: none;
}

.desktop {
    display: initial;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 7rem;
}

.pb-6 {
    padding-bottom: 4rem;
}

.pt-6 {
    padding-top: 4rem;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.position-right {
    position: absolute;
    right: 0;
}

h2,
h3,
h5 {
    color: $tertiaryTextColor;
}

hr {
    width: 500px;
    border-top: 0.5px solid $tertiaryBgColor;
    opacity: 0.5;
}

.not-valid {
  border-color: #f24747;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 575px) {
    .mobile {
        display: initial;
    }

    .desktop {
        display: none;
    }

    hr {
        width: 200px;
    }

    h3 {
        font-size: 1.5rem;
    }
}
