<!-- LEGAL -->

<!-- AVISO DE PRIVACIDAD -->

<div class="container" *ngIf="action === 'privacidad'">
    <h3 class="mb-1 text-center mt-5"> {{'FOOTER.TEXTLEGAL1'|translate}} </h3>
    <hr class="mb-3">

    <div class="row text-justify">
        <p> {{'LEGAL.PRIVACY'|translate}} </p>
        <p> {{'LEGAL.PRIVACY1'|translate}}</p>
        <p> {{'LEGAL.PRIVACY2'|translate}}</p>
        <p> {{'LEGAL.PRIVACY3'|translate}}</p>
        <p> {{'LEGAL.PRIVACY4'|translate}}</p>
    </div>

    <div class="row text-justify mt-3">
        <div class="col-md-6">
            <h6>{{'LEGAL.DATA'| translate}}</h6>
            <p>{{'LEGAL.DATA-TEXT'| translate}}</p>
        </div>

        <div class="col-md-6">
            <h6>{{'LEGAL.DATA-RETENTION'| translate}}</h6>
            <p>{{'LEGAL.DATA-RETENTION-TEXT'| translate}}</p>
        </div>
    </div>

    <div class="row text-justify mt-3">
        <div class="col-md-6">
            <h6>{{'LEGAL.DATA'| translate}}</h6>
            <p>{{'LEGAL.DATA-TEXT'| translate}}</p>
        </div>

        <div class="col-md-6">
            <h6>{{'LEGAL.PROTECTION'| translate}}</h6>
            <p>{{'LEGAL.PROTECTION-TEXT'| translate}}</p>

            <h6 class="mt-3">{{'LEGAL.RIGHTS'| translate}}</h6>
            <p>{{'LEGAL.RIGHTS-TEXT'| translate}}</p>
        </div>
    </div>

    <div class="row text-justify mt-3">
        <div class="col-md-6">
            <h6>{{'LEGAL.WEB-FORM'| translate}}</h6>
            <p>{{'LEGAL.WEB-FORM-TEXT'| translate}}</p>
        </div>

        <div class="col-md-6">
            <h6>{{'LEGAL.DATA-OPERATIONS'| translate}}</h6>
            <p>{{'LEGAL.DATA-OPERATIONS-TEXT'| translate}}</p>
        </div>
    </div>

    <div class="row text-justify mt-3 mb-5">
        <div class="col-12">
            <h6>{{'LEGAL.RECIPIENTS'| translate}}</h6>
            <p>
                {{'LEGAL.RECIPIENTS-TEXT'| translate}} </p>
        </div>
    </div>
</div>


<!-- COOKIES -->
<div class="container" *ngIf="action === 'cookies'">
    <h3 class="mb-1 text-center mt-5"> {{'LEGAL.COOKIES-POLICY'| translate}} </h3>
    <hr class="mb-3">

    <div class="row">
        <div class="col-12">
            <h5>{{'LEGAL.WHAT-IS-COOKIES'| translate}}</h5>
            <p class="text-justify">{{'LEGAL.WHAT-IS-COOKIES-TEXT'| translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>{{'LEGAL.USE-COOKIES'| translate}}
            </h5>
            <p class="text-justify"> {{'LEGAL.USE-COOKIES-TEXT'| translate}}</p>
        </div>

        <div class="col-md-6">
            <h5>{{'LEGAL.HOW-DISABLE-COOKIES'| translate}}</h5>
            <p class="text-justify">{{'LEGAL.HOW-DISABLE-COOKIES-TEXT'| translate}}</p>
        </div>


    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>{{'LEGAL.HOW-AVOID-COOKIES'| translate}}
            </h5>
            <p class="text-justify"> {{'LEGAL.HOW-AVOID-COOKIES-TEXT'| translate}} </p>
        </div>

        <div class="col-md-6">
            <h5>{{'LEGAL.WHO-USE-COOKIES'| translate}}</h5>
            <p class="text-justify">{{'LEGAL.WHO-USE-COOKIES-TEXT'| translate}}</p>
        </div>


    </div>

    <hr class="mb-3">

    <div class="row text-justify">


        <div class="col-md-4 mt-3 mb-3">
            <h6>{{'LEGAL.OWN-COOKIES'| translate}}</h6>
            <p>{{'LEGAL.OWN-COOKIES-TEXT'| translate}}</p>

        </div>

        <div class="col-md-4 mt-3 mb-3">
            <h6>{{'LEGAL.THIRD-COOKIES'| translate}}</h6>
            <p>{{'LEGAL.THIRD-COOKIES-TEXT'| translate}}</p>

        </div>

        <div class="col-md-4 mt-3 mb-3">
            <h6>{{'LEGAL.TECHNICAL-COOKIES'| translate}}</h6>
            <p>{{'LEGAL.TECHNICAL-COOKIES-TEXT'| translate}}</p>

        </div>

        <div class="col-md-4 mt-3 mb-3">
            <h6>{{'LEGAL.ANALISIS-COOKIES'| translate}}</h6>
            <p>{{'LEGAL.ANALISIS-COOKIES-TEXT'| translate}} </p>

        </div>

        <div class="col-md-4 mt-3 mb-3">
            <h6>{{'LEGAL.PREFERENCE-COOKIES'| translate}}</h6>
            <p>{{'LEGAL.PREFERENCE-COOKIES-TEXT'| translate}}</p>

        </div>

        <div class="col-md-4 mt-3 mb-3">
            <h6>{{'LEGAL.ADVERTISING'| translate}}</h6>
            <p>{{'LEGAL.ADVERTISING-TEXT'| translate}}</p>

        </div>

        <hr class="mb-3">

    </div>

    <div class="row mb-3 text-justify">
        <div class="col-md-12">
            <h5>{{'LEGAL.SESSION-COOKIES'| translate}}</h5>
            <p>{{'LEGAL.SESSION-COOKIES-TEXT'| translate}}</p>
        </div>
    </div>

    <div class="row mb-5 text-justify">
        <div class="col-md-12">
            <h5>{{'LEGAL.PERSISTENT-COOKIES'| translate}}</h5>
            <p>{{'LEGAL.PERSISTENT-COOKIES-TEXT'| translate}}</p>
        </div>
    </div>

</div>