@import "../../../styles.scss";
.btn {
    background: $tertiaryBgColor;
    color: $quaternaryTextColor;
}

.btn:hover {
    background: $primaryTextColor;
    color: $quaternaryTextColor;
}

.condition {
    cursor: pointer;
}

strong {
    color: $secondaryTextColor;
}
