<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="mb-1 mt-5"> Formulario </h3>
            <hr class="mb-4">
            <p> En este espacio podras compartir tus ideas. Llena cada uno de los espacios
                requeridos y al finalizar da click en Publica post.

                Podrás ver tu publicación en Blog General.
                Compartelo con tus amigos en las redes sociales.

                Recuerda hacer el uso correcto de los terminos y la citación. Esperamos leerte pronto.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 mt-4">

            <form #formNew="ngForm" class="mb-5">
                <!-- (ngSubmit)="onSubmit(formNew.value)" -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Título </label>
                            <input type="text" name="title" class="form-control" ngModel>
                        </div>

                        <div class="form-group">
                            <label> Imagen principal </label>
                            <input type="text" name="main_image" class="form-control" ngModel>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Categoría </label>

                            <select id="" name="category" class="form-control" ngModel>
                                <option value="política">Política</option>
                                <option value="economía">Economía</option>
                                <option value="cultura">Cultura</option>
                                <option value="historia">Historia</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label> Palabras claves </label>
                            <input type="text" name="keywords" class="form-control" ngModel>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="mt-4">
                            <label> Text </label>
                            <quill-editor [styles]="{height: '200px'}"></quill-editor>
                        </div>

                        <div class="form-group mt-3">
                            <input type="checkbox" class="mr-2">
                            <label>He leído los <strong (click)="condition()" class="condition">términos y
                                    condiciones</strong> de
                                publicar
                                en el blog general de
                                WatchYourPolitics.


                            </label>
                        </div>

                        <div class="form-group mt-4 mx-auto">
                            <input type="submit" value="Publicar post" class="btn form-control">
                        </div>



                    </div>
                </div>







            </form>

        </div>



    </div>


</div>



<!-- Terminos y condiciones -->

<ng-template #content let-modal>
    <div class="modal-header border-bottom-0 px-4 pt-3">
        <h5 class="modal-title">Términos y condiciones de publicación</h5>
        <div id="closeModal">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>&nbsp;
            </button>
        </div>
    </div>

    <div class="modal-body px-4 text-justify">
        <p>Las publicaciones en WatchYourPolitics son de <strong>uso público</strong> . Se le solicita a los interesados
            que siempre deben
            citar a los autores para su debido uso en investigación o consulta.</p>
        <p>Por consiguiente, WatchYourPolitics es <strong>propietaria</strong> de toda la información contenida en este
            portal, posts
            publicados en el blog, su diseño gráfico, imágenes, bases de datos, índices, códigos fuentes, marcas y
            logotipos, estando protegidos conforme a lo dispuesto en la Ley de Propiedad Intelectual, y en las normas
            sobre Propiedad Industrial.
        </p>
        <p>Así, al dar su consentimiento a estas medidas, limita su publicación a está web,
            <strong>restringiendo</strong> la doble
            publicación o su publicación con otra lengua.</p>

    </div>

    <div class="modal-footer justify-content-center px-4 border-top-0 pb-3">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')"> Continuar </button>

    </div>

</ng-template>