<div class="container-fluid container-color">

    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12 text-center pb-4">
                <h3 class="mb-1 pt-5"> {{'FORM-PUBLISH.TITLE-FORM'|translate}}</h3>
                <hr>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-2">
                <h5 class="border rounded-circle mb-2">1</h5>
                <p> {{'FORM-PUBLISH.INSTRUCTION-ONE'|translate}}</p>
            </div>

            <div class="col-md-2">
                <h5 class="border rounded-circle mb-2">2</h5>
                <p> {{'FORM-PUBLISH.INSTRUCTION-TWO'|translate}}</p>
            </div>

            <div class="col-md-2">
                <h5 class="border rounded-circle mb-2">3</h5>
                <p> {{'FORM-PUBLISH.INSTRUCTION-THREE'|translate}}</p>
            </div>

            <div class="col-md-2">
                <h5 class="border rounded-circle mb-2">4</h5>
                <p>{{'FORM-PUBLISH.INSTRUCTION-FOUR'|translate}}</p>
            </div>

            <div class="col-md-2">
                <h5 class="border rounded-circle mb-2">5</h5>
                <p> {{'FORM-PUBLISH.INSTRUCTION-FIVE'|translate}}</p>
            </div>

            <div class="col-md-2">
                <h5 class="border rounded-circle mb-2">6</h5>
                <p> {{'FORM-PUBLISH.INSTRUCTION-SIX'|translate}}</p>
            </div>
        </div>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="col-md-12 mt-5">

            <form #formNew="ngForm" class="mb-5">
                <!-- (ngSubmit)="onSubmit(formNew.value)" -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM-PUBLISH.TITLE'|translate}}</label>
                            <input type="text" name="title" class="form-control" ngModel>
                        </div>

                        <div class="form-group">
                            <label> {{'FORM-PUBLISH.IMAGE'|translate}}</label>
                            <input type="text" name="main_image" class="form-control" ngModel>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label> {{'FORM-PUBLISH.CATEGORY'|translate}} </label>

                            <select id="" name="category" class="form-control" ngModel>
                                <option value="política">{{'FORM-PUBLISH.POLITIC'|translate}}</option>
                                <option value="economía">{{'FORM-PUBLISH.ECONOMIC'|translate}}</option>
                                <option value="cultura">{{'FORM-PUBLISH.CULTURE'|translate}}</option>
                                <option value="historia">{{'FORM-PUBLISH.HISTORY'|translate}}</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label> {{'FORM-PUBLISH.KEYWORDS'|translate}}</label>
                            <input type="text" name="keywords" class="form-control" ngModel>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="mt-4">
                            <label> {{'FORM-PUBLISH.TEXT'|translate}}</label>
                            <quill-editor [styles]="{height: '200px'}"></quill-editor>
                        </div>

                        <div class="form-group mt-3">
                            <input type="checkbox" class="mr-2">


                            <label> {{'FORM-PUBLISH.READ'|translate}} <strong (click)="condition()" class="condition">
                                    {{'FORM-PUBLISH.TERMS-CONDITIONS'|translate}} </strong>
                                {{'FORM-PUBLISH.READ-TWO'|translate}}


                            </label>
                        </div>



                        <div class="form-group mt-4 mx-auto">
                            <input type="submit" value="{{'FORM-PUBLISH.PUBLISH-POST'|translate}}"
                                class="btn form-control">
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>


</div>



<!-- Terminos y condiciones -->

<ng-template #content let-modal>
    <div class="modal-header border-bottom-0 px-4 pt-3">
        <h5 class="modal-title"> {{'FORM-PUBLISH.TERMS-CONDITIONS-PUBLISH'|translate}}</h5>
        <div id="closeModal">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>&nbsp;
            </button>
        </div>
    </div>

    <div class="modal-body px-4 text-justify">
        <p> {{'FORM-PUBLISH.TERMS-CONDITIONS-ONE'|translate}}
            <strong>{{'FORM-PUBLISH.TERMS-CONDITIONS-TWO'|translate}} </strong>
            {{'FORM-PUBLISH.TERMS-CONDITIONS-THREE'|translate}} </p>
        <p> {{'FORM-PUBLISH.TERMS-CONDITIONS-FOUR'|translate}}<strong>
                {{'FORM-PUBLISH.TERMS-CONDITIONS-FIVE'|translate}}</strong>
            {{'FORM-PUBLISH.TERMS-CONDITIONS-SIX'|translate}}
        </p>
        <p> {{'FORM-PUBLISH.TERMS-CONDITIONS-SEVEN'|translate}}
            <strong>{{'FORM-PUBLISH.TERMS-CONDITIONS-EIGHT'|translate}}</strong>
            {{'FORM-PUBLISH.TEMS-CONDITIONS-NINE'|translate}}</p>

    </div>

    <div class="modal-footer justify-content-center px-4 border-top-0 pb-3">
        <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss('cancel click')">{{'FORM-PUBLISH.CONTINUE'|translate}}</button>

    </div>

</ng-template>