@import "../../../styles.scss";
.btn {
    background: $tertiaryBgColor;
    color: $quaternaryTextColor;
}

.btn:hover {
    background: $primaryTextColor;
    color: $quaternaryTextColor;
}

.condition {
    cursor: pointer;
}

strong {
    color: $secondaryTextColor;
}

.rounded-circle {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding-top: 12px;
    border: 1.5px solid $tertiaryBgColor !important;
}

input:hover {
    border: 1px solid $tertiaryBgColor;
}

input,
textarea {
    outline-color: $tertiaryBgColor;
    box-shadow: none !important;
}
