@import "../../../styles.scss";

.line-hr {
    width: 200px;
    border-top: 0.5px solid $tertiaryBgColor;
}

.btn {
    background-color: $tertiaryBgColor;
    color: $quaternaryTextColor;
}

.btn:hover {
    background-color: $quaternaryBgColor;
    color: $quaternaryTextColor;
}

.activeFilter{
  background-color: $sextenaryBgColor;
  color: $quaternaryTextColor;
}

/* CSS para las cards  del blog*/

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    color: rgba(0, 0, 0, 0.68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 0.75em 1em;
    color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
    background: #fff;
}

.profile {
    position: absolute;
    top: -65px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.4);
}

/* ESTILOS BLOG HABLANDO DE POLITICA */

.imagen-blog {
    width: 100%;
    height: auto;
}
