<div class="container-fluid container-color pb-3">

  <h3 class="mb-1 text-center pt-5" *ngIf="blogType.includes('general')"> {{'HEADER.BLOG' | translate}} </h3>
  <h3 class="mb-1 text-center pt-5" *ngIf="blogType.includes('hablando')"> {{'HEADER.HABLANDO' | translate}} </h3>
  <hr class="mb-3">

  <!-- buscador de los blogs -->
  <div class="row">
    <div class="offset-md-4 col-md-4 mt-md-5 mb-md-5 col-12 mt-4 mb-4 offset-md-4 ">
      <div class="input-group">
        <input class="form-control border-right-0" [(ngModel)]="this.blogSearchTerm" #blogSearchInput>
        <div class="input-group-append border-left-0 pb-2">
          <div class="input-group-text px-3">
            <fa-icon class="search" [icon]="['fas', 'search']"></fa-icon>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<div class="container pt-5">


  <!-- BLOG GENERAL -->
  <ng-container *ngIf="blogType.includes('general')">
    <div class="container mb-7 mt-3">

      <!-- las categorias -->
      <div class="row">

        <div class="col-md-3 text-center mb-4">
          <h4>{{'FORM-PUBLISH.CATEGORY'|translate}} </h4>
          <hr class="mb-5 line-hr">

          <button value="todos" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.ALL'|translate}}
          </button>
          <button value="cultura" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.CATEGORY-CULTURE'|translate}}
          </button>
          <button value="politica" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.CATEGORY-POLITIC'|translate}}
          </button>
          <button value="economia" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.CATEGORY-ECONOMIC'|translate}}
          </button>
          <button value="historia" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.CATEGORY-HISTORY'|translate}}
          </button>


        </div>

        <!-- los posts -->
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let post of generalPosts">
              <div class="card card-inverse">
                <img class="card-img-top" [src]="post.main_image">
                <div class="meta text-right mr-4">
                  <p class="mb-0">{{post.user.nickname | titlecase}}</p>
                </div>
                <div class="card-block">
                  <figure class="profile text-right">
                    <img [src]="post.user.photo" class="profile-avatar" alt="">
                  </figure>
                  <h4 class="card-title mt-1 mb-0">{{post.title | titlecase}}
                  </h4>
                  <div class="card-text">
                    <small>{{post.keywords | titlecase}}</small>
                  </div>
                </div>
                <div class="card-footer">
                  <small>{{post.category}}</small>
                  <button class="btn float-right btn-sm"
                    [routerLink]="[post.id]">{{'HOME.READ-MORE'|translate}}</button>
                </div>
              </div>
            </div>

            <!-- si no vienen posts mostramos el mensaje por defecto -->
            <div class="col-md-5 mb-4" *ngIf="!generalPosts.length">
              <div class="card card-inverse border">
                <img class="card-img-top" src="../../../assets/images/logo2.png">
                <div class="meta text-right mr-4">
                  <p class="mb-0">WatchYourPolitics</p>
                </div>
                <div class="card-block">
                  <figure class="profile text-right">
                    <img src="../../../assets/images/hablando.png" class="profile-avatar" alt="">
                  </figure>
                  <h4 class="card-title mt-1 mb-0">{{'FORM-PUBLISH.SORRY' |translate}}
                  </h4>
                  <div class="card-text">
                    <p>{{'FORM-PUBLISH.SORRY-TEXT' |translate}}</p>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn float-right btn-sm" [routerLink]="['/nuevo/post']">{{'FORM-PUBLISH.CREATE-POST'
                    |translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <!-- BLOG HABLANDO DE POLÍTICA -->

  <ng-container *ngIf="blogType.includes('hablando')">

    <div class="container mb-7 mt-3">

      <!-- las categorias -->
      <div class="row mb-4 justify-content-center">

        <div class="col-md-2 text-center d-inline">
          <button value="política" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.CATEGORY-POLITIC'|translate}}
          </button>
        </div>

        <div class="col-md-2 text-center d-inline">
          <button value="cultura" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.CATEGORY-CULTURE'|translate}}
          </button>
        </div>

        <div class="col-md-2 text-center d-inline">
          <button value="historia" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.CATEGORY-HISTORY'|translate}}
          </button>
        </div>

        <div class="col-md-2 text-center d-inline">
          <button value="todos" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)">
            {{'FORM-PUBLISH.ALL'|translate}}
          </button>
        </div>

      </div>


      <!-- los posts -->
      <div class="row">

        <div class="col-md-4" *ngFor="let post of hablandoPosts">
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center mt-3">{{post.title | titlecase}}</h4>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-5">
                <img [src]="post.main_image" alt="" class="imagen-blog ml-2">
              </div>

              <div class="col-7 mt-3">
                <div [innerHTML]="post.summary"></div>
                <button class="btn btn-sm mt-2 mx-auto" [routerLink]="[post.id]">{{'HOME.READ-MORE'|translate}}</button>
              </div>
            </div>
          </div>
        </div>

        <!-- si no vienen posts mostramos el mensaje por defecto -->
        <div class="row">
          <div class="col-md-4" *ngIf="!hablandoPosts.length">

            <div class="card mb-3 border">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="text-center mt-3">{{'FORM-PUBLISH.SORRY' |translate}}</h4>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-5">
                  <img src="../../../assets/images/hablando1.png" alt="" class="imagen-blog ml-2">
                </div>

                <div class="col-7 mt-3">
                  <div>
                    <p>Aún no se me ha ocurrido hablar de ese tema.
                    </p>
                    <p>
                      Sería interesante que fueras el primero en escribir
                      sobre este tema en nuestro Blog General.
                    </p>

                  </div>
                  <button class="btn btn-sm mt-2 mx-auto" [routerLink]="['/nuevo/post']">{{'FORM-PUBLISH.CREATE-POST'
                    |translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-container>
</div>