<h3 class="mb-1 text-center mt-5" *ngIf="blogType.includes('general')"> {{'HEADER.BLOG' | translate}} </h3>
<h3 class="mb-1 text-center mt-5" *ngIf="blogType.includes('hablando')"> {{'HEADER.HABLANDO' | translate}} </h3>
<hr class="mb-3">

<div class="container mt-3">
  <!-- el buscador -->
  <div class="row">
    <div class=" col-md-5 mt-md-5 mb-md-5 mt-4 mb-4 mx-auto">
      <input type="text" class="form-control" [(ngModel)]="this.blogSearchTerm" #blogSearchInput>
    </div>
  </div>
</div>


<!-- BLOG GENERAL -->
<ng-container *ngIf="blogType.includes('general')">
  <div class="container mb-7 mt-3">

    <!-- las categorias -->
    <div class="row">

      <div class="col-md-3 text-center mb-4">
        <h4>Categorías </h4>
        <hr class="mb-5 line-hr">

        <button value="todos" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)"> Todos
        </button>
        <button value="cultura" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)"> Cultura
        </button>
        <button value="politica" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)"> Política
        </button>
        <button value="economia" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)"> Economía
        </button>
        <button value="historia" class="d-block btn mb-3 w-100 filter" (click)="filterPosts($event)"> Historia
        </button>


      </div>

      <!-- los posts -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let post of generalPosts">
            <div class="card card-inverse">
              <img class="card-img-top" [src]="post.main_image">
              <div class="meta text-right mr-4">
                <p class="mb-0">Alice</p>
              </div>
              <div class="card-block">
                <figure class="profile text-right">
                  <img src="../../../assets/images/hablando.png" class="profile-avatar" alt="">
                </figure>
                <h4 class="card-title mt-1 mb-0">{{post.title | titlecase}}
                </h4>
                <div class="card-text">
                  <small>{{post.keywords | titlecase}}</small>
                </div>
              </div>
              <div class="card-footer">
                <small>{{post.category}}</small>
                <button class="btn float-right btn-sm">{{'HOME.READ-MORE'|translate}}</button>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4" *ngIf="!generalPosts">
            <div class="card card-inverse">
              <img class="card-img-top" src="../../../assets/images/logo2.png">
              <div class="meta text-right mr-4">
                <p class="mb-0">Alice</p>
              </div>
              <div class="card-block">
                <figure class="profile text-right">
                  <img src="../../../assets/images/hablando.png" class="profile-avatar" alt="">
                </figure>
                <h4 class="card-title mt-1 mb-0">Lo sentimos
                </h4>
                <div class="card-text">
                  <p>Aún nadie ha publicado un post acerca de ese tema, anímate y se el primero</p>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn float-right btn-sm">Crear nuevo post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<!-- BLOG HABLANDO DE POLÍTICA -->

<ng-container *ngIf="blogType.includes('hablando')">

  <div class="container mb-7 mt-3">

    <!-- las categorias -->
    <div class="row mb-4 justify-content-center">

      <div class="col-md-2 text-center d-inline">
        <button value="política" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)"> Política
        </button>
      </div>

      <div class="col-md-2 text-center d-inline">
        <button value="cultura" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)"> Cultura
        </button>
      </div>

      <div class="col-md-2 text-center d-inline">
        <button value="historia" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)"> Hechos historicos
        </button>
      </div>

      <div class="col-md-2 text-center d-inline">
        <button value="importante" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)">
          Debes saberlo
        </button>
      </div>

      <div class="col-md-2 text-center d-inline">
        <button value="todos" class="d-block btn mb-3 w-100 d-inline filter" (click)="filterPosts($event)">
          Todos
        </button>
      </div>

    </div>


    <!-- los posts -->
    <div class="row">

      <div class="col-md-4" *ngFor="let post of hablandoPosts">
        <div class="card mb-3">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-center mt-3">{{post.title | titlecase}}</h4>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col-5">
              <img [src]="post.main_image" alt="" class="imagen-blog ml-2">
            </div>

            <div class="col-7 mt-3">
              <div [innerHTML]="post.summary"></div>
              <button class="btn btn-sm mt-2 mx-auto">{{'HOME.READ-MORE'|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
